<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Célia Magazine</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow"/>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../static/css/style.default.css" th:href="@{/css/style.default.css}" id="theme-stylesheet"/>
    <link rel="stylesheet" href="../../static/css/customFisico.css" th:href="@{/css/customFisico.css}"/>
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../static/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
    <!-- Font Awesome CDN-->
    <!-- you can replace it by local Font Awesome-->
    <script src="https://use.fontawesome.com/99347ac47f.js"></script>
    <!-- Font Icons CSS-->
    <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css"/>
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <div class="sidenav-header-inner text-center"><img src="../../static/img/avatar-1.jpg" th:src="@{/img/avatar-1.jpg}" alt="person" class="img-fluid rounded-circle"/>
                    <h2 class="h5 text-uppercase">Mateus Cordeiro Silva Alves</h2><span class="text-uppercase">Develop</span>
                </div>
                <div class="sidenav-header-logo"><a href="#" class="brand-small text-center"> <strong>C</strong><strong class="text-primary">M</strong></a></div>
            </div>
            <div class="main-menu">
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li id="navDashboard"><a href="#" th:href="@{/dashboard/}"> <i class="fa fa-home"></i><span>*Inicio</span>
                        <div class="badge badge-warning">6 New</div></a></li>
                    <li id="navPerfil"> <a href="#" th:href="@{/funcionario/perfil}"><i class="fa fa-user" aria-hidden="true"></i><span>*Perfil</span></a></li>
                    <li id="navRelatorio"> <a href="#" > <i class="fa fa-book" aria-hidden="true"> </i><span>*Relatórios</span>
                        <div class="badge badge-info">Special</div></a></li>
                    <li id="navFuncionario"> <a href="#pages-nav-funcionario" data-toggle="collapse" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i><span>Funcionários</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
                        <ul id="pages-nav-funcionario" class="collapse list-unstyled">
                            <li> <a href="#" th:href="@{/funcionario/novo}">Novo</a></li>
                            <li> <a href="#" data-toggle="modal" data-target="#myModalFuncionario">Buscar</a></li>
                            <li> <a href="#" th:href="@{/funcionario/listar}">Listar</a></li>
                        </ul>
                    </li>
                    <li id="navCliente"> <a href="#pages-nav-cliente" data-toggle="collapse" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i><span>Clientes</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
                        <ul id="pages-nav-cliente" class="collapse list-unstyled">
                            <li> <a href="#" th:href="@{/cliente/novo}">Novo</a></li>
                            <li> <a href="#" data-toggle="modal" data-target="#myModalCliente">Buscar</a></li>
                            <li> <a href="#" th:href="@{/cliente/listar}">Listar</a></li>
                        </ul>
                    </li>                    
                    <li id="navProduto"> <a href="#pages-nav-produto" data-toggle="collapse" aria-expanded="false"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span>Produtos</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
                        <ul id="pages-nav-produto" class="collapse list-unstyled">
                            <li> <a href="#" th:href="@{/produto/novo}">Novo</a></li>
                            <li> <a href="#" data-toggle="modal" data-target="#myModalProduto">Buscar</a></li>
                            <li> <a href="#" th:href="@{/produto/listar}">Listar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="admin-menu">
                <ul id="side-admin-menu" class="side-menu list-unstyled">
                    <li id="navVenda"> <a href="#pages-nav-venda" data-toggle="collapse" aria-expanded="false"><i class="fa fa-cart-plus" aria-hidden="true"></i><span>Vendas</span>
                    	<div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
                        <ul id="pages-nav-venda" class="collapse list-unstyled">
                            <li> <a href="#" th:href="@{/venda/novo}">Novo</a></li>
                            <li> <a href="#" data-toggle="modal" data-target="#myModalVenda">Buscar</a></li>
                            <li> <a href="#" th:href="@{/venda/listar}">Listar</a></li>
                        </ul>
                    </li>
                    <li id="navFornecedor"> <a href="#pages-nav-fornecedor" data-toggle="collapse" aria-expanded="false"><i class="fa fa-handshake-o" aria-hidden="true"></i><span>Fornecedor</span>
                    	<div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
                        <ul id="pages-nav-fornecedor" class="collapse list-unstyled">
                            <li> <a href="#" th:href="@{/fornecedor/novo}">Novo</a></li>
                            <li> <a href="#" data-toggle="modal" data-target="#myModalFornecedor">Buscar</a></li>
                            <li> <a href="#" th:href="@{/fornecedor/listar}">Listar</a></li>
                        </ul>
                    </li>
                    <li id="navPromocao"> <a href="#" th:href="@{/}"><i class="fa fa-money" aria-hidden="true"></i><span>*Promoção</span></a></li>
                    <li id="navEstoque"> <a href="#" th:href="@{/}"><i class="fa fa-truck" aria-hidden="true"></i><span>*Estoque</span></a></li>
                </ul>
            </div>
        </div>
    </nav><!-- END Side Navbar -->
    <!-- MODAL BUSCAR FUNCIONARIO-->
    <div id="myModalFuncionario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelFuncionario" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <form method="GET" th:action="@{/funcionario/buscar/nome}">
	                <div class="modal-header">
	                    <h5 id="exampleModalLabelFuncionario" class="modal-title">Buscar Funcionário</h5>
	                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
	                </div>
	                <div class="modal-body">                  
	                        <div class="form-group">
	                            <label>Nome</label>
	                        	<div class="input-group">
							    	<input type="text" name="nome" class="form-control" placeholder="Nome do cliente">
							    	<div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
							  	</div>
	                        </div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
	                    <button type="submit" class="btn btn-primary">Buscar</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL BUSCAR CLIENTE-->
    <div id="myModalCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelCliente" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <form method="GET" th:action="@{/cliente/buscar/nome}">
                <div class="modal-header">
                    <h5 id="exampleModalLabelCliente" class="modal-title">Buscar Cliente</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label>Nome</label>
                        	<div class="input-group">
						    	<input type="text" name="nome" class="form-control" placeholder="Nome do cliente">
						    	<div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
						  	</div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL BUSCAR PRODUTO-->
    <div id="myModalProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelProduto" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <form method="GET" th:action="@{/produto/buscar/nome}">
                <div class="modal-header">
                    <h5 id="exampleModalLabelProduto" class="modal-title">Buscar Produto</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label>Nome</label>
                        	<div class="input-group">
						    	<input type="text" name="nome" class="form-control" placeholder="Nome do produto">
						    	<div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
						  	</div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            	</form>
            </div>
        </div>
    </div>
    <!-- MODAL BUSCAR VENDA-->
    <div id="myModalVenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelVenda" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <form method="GET" th:action="@{/venda/buscar/nome}">
                <div class="modal-header">
                    <h5 id="exampleModalLabelVenda" class="modal-title">Buscar Venda</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Buscar a venda por nome do Cliente.</p>
                        <div class="form-group">
                            <label>Nome</label>
                        	<div class="input-group">
						    	<input type="text" name="nome" class="form-control" placeholder="Nome do cliente">
						    	<div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
						  	</div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
	            </form>
            </div>
        </div>
    </div>
    <!-- MODAL BUSCAR FORNECEDOR-->
    <div id="myModalFornecedor" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <form method="GET" th:action="@{/fornecedor/buscar/nome}">
                    <div class="modal-header">
                        <h5 class="modal-title">Buscar Fornecedor</h5>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Nome</label>
                            <div class="input-group">
                                <input type="text" name="nome" class="form-control" placeholder="Nome do fornecedor">
                                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="page home-page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
                            <a href="#" class="navbar-brand">
                                <div class="brand-text hidden-sm-down"><span>Célia Magazine</span></div>
                            </a>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- notifications -->
                            <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="nav-link"><i class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>
                                <ul aria-labelledby="notifications" class="dropdown-menu">
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item">
                                            <div class="notification d-flex justify-content-between">
                                                <div class="notification-content"><i class="fa fa-envelope"></i>Você tem 6 novos comentários</div>
                                                <div class="notification-time"><small>4 min atrás</small></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item">
                                            <div class="notification d-flex justify-content-between">
                                                <div class="notification-content"><i class="fa fa-twitter"></i>Você tem 2 novos seguidores</div>
                                                <div class="notification-time"><small>4 min atrás</small></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item">
                                            <div class="notification d-flex justify-content-between">
                                                <div class="notification-content"><i class="fa fa-upload"></i>Problema servidor</div>
                                                <div class="notification-time"><small>5 min atrás</small></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-bell"></i>Visualizar todas</strong></a></li>
                                </ul>
                            </li>
                            <!-- end notifications -->
                            <!-- messages -->
                            <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-info">10</span></a>
                                <ul aria-labelledby="notifications" class="dropdown-menu">
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                            <div class="msg-body">
                                                <h3 class="h5">Jason Doe</h3><span>enviou uma mensagem direta</span><small>3 dias atrás a 7:58 pm - 10/06/2017</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                            <div class="msg-body">
                                                <h3 class="h5">Frank Williams</h3><span>enviou uma mensagem direta</span><small>3 dias atrás a 8:00 pm - 12/06/2017</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                            <div class="msg-body">
                                                <h3 class="h5">Ashley Wood</h3><span>enviou uma mensagem direta</span><small>3 dias atrás a 9:50 pm - 13/06/2017</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Visualizar todas</strong></a></li>
                                </ul>
                            </li>
                            <!-- end messages -->
                            <li class="nav-item"><a href="#" class="nav-link logout">Sair<i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <section layout:fragment="conteudo"></section>
        
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Célia Magazine &copy; 2010-2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="../../../static/js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script src="../../static/js/jquery.nicescroll.min.js" th:src="@{/js/jquery.nicescroll.min.js}"></script>
    <script src="../../static/js/front.js" th:src="@{/js/front.js}"></script>

	<th:block layout:fragment="javascript-extra"></th:block>
	
	
</body>

</html>