<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{lojaFisica/header}">
<head>
    <title>Produto - Célia Magazine</title>
</head>

<body>
        <section layout:fragment="conteudo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-header d-flex align-items-center">
                            <h2 class="h5 display display" th:text="${breadcrumb}">Produto / Novo</h2>
                        </div>
                        <div class="card-group">
                            <div class="card align-items-center">
                                <img class="card-img-top img-thumbnail centro" src="../../../static/img/kingsman.jpg" th:src="@{/img/kingsman.jpg}" alt="Upload"/>
                                <input type="file" name="" id=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <form id="formulario" class="form-horizontal" method="POST" th:object="${produto}" th:action="@{novo}">
                                	<input type="hidden" th:field="*{id}"/>
                                    <!-- MSG SUCESS -->
                                    <div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(msgSuccess)}">
                                    	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    	<span th:text="${msgSuccess}"></span>
                                    </div>
                                    <!-- ERROS -->
                                	<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<th:block th:each="error : ${#fields.detailedErrors()}">
											<div>
												<i class="fa  fa-exclamation-circle"></i>
												<span th:text="${error.message}"></span>
											</div>
										</th:block>
									</div>
                                	
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-1">Nome</label>
                                        <div class="col-sm-10 col-md-4 col-lg-5 col-xl-5">
                                            <input type="text" placeholder="Nome do produto" class="form-control" th:field="*{nome}" required/>
                                        </div>
                                        <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-1">Unidade</label>
                                        <div class="col-sm-4 col-md-4 col-lg-2 col-xl-1">
                                            <input type="text" min="0" class="form-control unidade" th:field="*{quantidade}" required/>
                                        </div>
                                        <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-1">Estoque mín.</label>
                                        <div class="col-sm-4 col-md-4 col-lg-2 col-xl-1">
                                            <input type="text" min="0" class="form-control unidade" th:field="*{quantidadeMinima}" required/>
                                        </div>
                                    </div>
                                    
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-1">Categoria</label>
                                            <div class="col-sm-5 col-md-4 col-lg-2 col-xl-2">
                                                <select name="" class="form-control" th:field="*{categoria}" required>
                                                    <option value="" selected>Selecione</option>
                                                    <option value="Blusa">Blusa</option>
                                                    <option value="Camisa">Camisa</option>
                                                    <option value="Vestido">Vestido</option>
                                                </select>
                                            </div>
                                            <label class="form-control-label col-sm-1 col-md-2 col-lg-1 col-xl-1">Cor</label>
                                            <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2">
                                                <select name="" class="form-control" th:field="*{cor}" required>
                                                    <option value="" selected>Selecione</option>
                                                    <option value="Azul">Azul</option>
                                                    <option value="Branco">Branco</option>
                                                    <option value="Prata">Prata</option>
                                                    <option value="Preto">Preto</option>
                                                    <option value="Vermelho">Vermelho</option>
                                                </select>
                                            </div>
                                            <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-1">Fornecedor</label>
                                            <div class="col-sm-10 col-md-10 col-lg-5 col-xl-5">
                                                <select name="" class="form-control" th:field="*{fornecedor.id}" required>
                                                    <option th:each="fornecedor : ${fornecedores}" th:value="${fornecedor.id}" th:text="${fornecedor.razaoSocial}">Empresa D</option>
                                                </select>
                                            </div>
                                    </div>
                                    
                                    <!-- <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-1">Valor</label>
                                        <div class="col-sm-4 col-md-3 col-lg-3 col-xl-2">
                                            <div class="input-group">
                                                <div class="input-group-addon">R$</div>
                                                <input type="text" placeholder="Valor" class="form-control" min="1" th:field="*{valor}" required/>
                                            </div>
                                        </div>
                                        <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-1">*Promoção</label>
                                        <div class="col-sm-4 col-md-5 col-lg-3 col-xl-2">
                                            <select name="" class="form-control">
                                                <option value="" selected="selected">Nenhuma</option>
                                                <option value="Promoção I">Promoção I</option>
                                                <option value="Promoção II">Promoção II</option>
                                                <option value="Promoção III">Promoção III</option>
                                            </select>
                                        </div>
                                        <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-1">*Cod. de barras</label>
                                        <div class="col-sm-10 col-md-10 col-lg-3 col-xl-5">
                                            <input type="text" placeholder="Código de barras" class="form-control" min="0" th:field="*{codigoBarras}"/>
                                        </div>
                                    </div> -->
                                    
                                    <div class="line"></div>
                                    <div class="form-group row">
                                    	<label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-1">Descrição</label>
                                        <div class="col-sm-10 col-md-6 col-lg-5 col-xl-5">
                                            <textarea class="form-control" rows="5" max="255" th:field="*{descricao}" required></textarea>
                                        </div>
                                        <label class="form-control-label col-sm-2 col-md-1 col-lg-1 col-xl-1">Valor</label>
                                        <div class="col-sm-4 col-md-3 col-lg-3 col-xl-2">
                                            <div class="input-group">
                                                <div class="input-group-addon">R$</div>
                                                <input type="text" class="form-control valor" min="1" th:field="*{{valor}}" required/>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-primary centro-input">Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
	<th:block layout:fragment="javascript-extra">
		<script src="../../../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
	
		<script th:inline="javascript">
            $("form").submit(function (event) {
                console.log($(this).find("input[name='valor']").val());
                var valor = $(this).find("input[name='valor']").val().replace(".","");
                console.log(valor.replace(",", "."));
            });

	    	$(document).ready(function(){
	    		$("#navProduto").children().attr("aria-expanded", true);
	        	$("#navProduto").children("ul").addClass("show");
	        	if([[${breadcrumb}]].localeCompare("Produto / Buscar") == 0){
		        	$("#navProduto").children("ul").children("li").get(1).className= "active";
	        	}else $("#navProduto").children("ul").children("li").get(0).className= "active";
	        	
				$('.unidade').mask('000.000', {reverse:true});
				$('.valor').mask('000.000,00', {reverse: true});
			});
	    </script>
	</th:block>
</body>

</html>