<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{lojaFisica/header}">
<head>
    <title>Produto Lista - Célia Magazine</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
</head>

<body>
        <section layout:fragment="conteudo">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display">Lista de Produtos</h2>
                    </div>
                    
                    <div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(msgSuccess)}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<span th:text="${msgSuccess}"></span>
					</div>
                    
                    <div class="card-block">
                        <table class="table table-striped table-hover table-sm">
                            <thead class="thead-inverse">
	                            <tr>
	                                <th>Nome</th>
	                                <th>Unidade</th>
	                                <th>Valor</th>
	                                <th>Categoria</th>
	                                <th>Fornecedor</th>
	                                <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="produto : ${produtos}">
                                    <th scope="row" th:text="${produto.nome}">Lorem ipsum dolor sit amet</th>
                                    <td th:text="${produto.quantidade}">XXX</td>
                                    <td th:text="|R$${{produto.valor}}|">R$ X.XXX,XX</td>
                                    <td th:text="${produto.categoria}">Lorem ipsum dolor sit amet</td>
                                    <td th:text="${produto.fornecedor.razaoSocial}">Lorem ipsum dolor sit amet</td>
                                    <td>
                                        <a href="#" th:href="@{/produto/buscar(id=${produto.id})}" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Visualizar/Editar">
                                            <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Remover">
                                            <i class="fa fa-trash fa-lg" th:data-id="${produto.id}" th:data-nome="${produto.nome}" 
                                            	data-toggle="modal" data-target="#modalRemover" aria-hidden="true" ></i></a>
                                    </td>
                                </tr>
                                <tr th:if="${produtos.empty}">
                                	<td colspan="8">Nenhum produto encontrado!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="modalRemover" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
			  		<div class="modal-content">
			  			<form th:action="@{remover}" method="POST">
			  				<input type="hidden" name="_method" value="DELETE"/>
			  				<input type="hidden" id="inputId" name="id"/>
			     			<div class="modal-header">
				       			<h4 class="modal-title" id="myModalLabel">Excluir Produto</h4>
				       			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				       				<span aria-hidden="true">&times;</span>
				       			</button>
			     			</div>
			     			<div class="modal-body">
			       				<span>Tem certeza?</span>
			     			</div>
			     			<div class="modal-footer">
			       				<button type="button" class="btn  btn-default" data-dismiss="modal">Cancelar</button>
			       				<button type="submit" class="btn  btn-primary">Excluir</button>
			     			</div>
			     		</form>
			  		</div>
				</div>
			</div>
        </section>
	
	<th:block layout:fragment="javascript-extra">
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

	    <script>
	        $(document).ready(function () {
	        	$("#navProduto").children().attr("aria-expanded", true);
	        	$("#navProduto").children("ul").addClass("show");
	        	$("#navProduto").children("ul").children("li").get(2).className= "active";
	        	
	            $('[data-toggle="popover"]').popover();

                $('table').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Portuguese-Brasil.json"
                    }
                });
	            
	            $('#modalRemover').on('show.bs.modal', function (event) {
	            	var botao = $(event.relatedTarget);
	            	var nome = botao.data('nome');
	            	$("#inputId").attr('value', botao.data('id'));
	            	var modal = $(this);
	            	modal.find('.modal-body span').html('Tem certeza que deseja excluir <strong>' + nome + '</strong>?');
	            });
	        });
	    </script>
    </th:block>

</body>

</html>