<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="../../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <!--Font Awesome-->
    <script src="https://use.fontawesome.com/99347ac47f.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <!-- CSS Files -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../static/css/now-ui-kit.css?v=1.0.1" th:href="@{/css/now-ui-kit.css}" rel="stylesheet"/>
    <link href="../../static/css/demo.css" th:href="@{/css/demo.css}" rel="stylesheet"/>
    <link href="../../static/css/customVirtual.css" th:href="@{/css/customVirtual.css}" rel="stylesheet"/>
</head>

<body>

    <nav class="navbar navbar-toggleable-md bg-navcolor fixed-top navbar-transparent" color-on-scroll="500">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#" rel="tooltip" title="Confira as nossas novidades!" data-placement="bottom" target="_blank">Bem Vindo</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end align-items-center" data-nav-image="../../../../img/blurred-image-1.jpg" data-color="orange">
                <input type="text" class="search-focus" name="" placeholder="Pesquise aqui...">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <i class="fa fa-male" aria-hidden="true"></i>
                            <p>MASCULINO</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons shopping_box"></i>LANÇAMENTOS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons ui-2_settings-90"></i>ROUPAS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons text_align-left"></i> CALÇADOS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons sport_user-run"></i> PROMOÇÕES
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-female" aria-hidden="true"></i>
                            <p>FEMININO</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons shopping_box"></i>LANÇAMENTOS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons ui-2_settings-90"></i>ROUPAS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons text_align-left"></i> CALÇADOS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons sport_user-run"></i> PROMOÇÕES
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-child" aria-hidden="true"></i>
                            <p>INFANTIL</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons shopping_box"></i>LANÇAMENTOS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons ui-2_settings-90"></i>ROUPAS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons text_align-left"></i> CALÇADOS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons sport_user-run"></i> PROMOÇÕES
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="now-ui-icons users_circle-08" aria-hidden="true"></i>
                            <p>CONTA</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons shopping_box"></i>PERFIL
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons ui-2_settings-90"></i>PONTOS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons text_align-left"></i>PEDIDOS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons sport_user-run"></i>MEUS FAVORITOS
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="#" target="_blank">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <p>CARRINHO</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../../static/img/bg32.jpg');" th:style="'background-image: url('+@{/img/bg32.jpg}+');'">
            </div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h1 class="title">Sobre nós</h1>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin orci enim. Sed eget felis
                            nec magna iaculis cursus ac viverra ligula.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="about-description text-center">
                <div class="features-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <h2 class="title">Nosso compromisso é com você.</h2>
                                <h4 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin orci enim. Sed
                                    eget felis nec magna iaculis cursus ac viverra ligula.</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info info-hover">
                                    <div class="icon icon-success icon-circle">
                                        <i class="now-ui-icons shopping_delivery-fast"></i>
                                    </div>
                                    <h4 class="info-title">Compra Pós-paga</h4>
                                    <p class="description">Que tal pagar apenas quando receber seu produto? Isso mesmo não tem motivos para você
                                        ter medo.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info info-hover">
                                    <div class="icon icon-info icon-circle">
                                        <i class="now-ui-icons clothes_tie-bow"></i>
                                    </div>
                                    <h4 class="info-title">Moda é aqui</h4>
                                    <p class="description">Com o nosso Feed de Notícia vamos deixar você por dentro de lançamentos, dicas, eventos
                                        e tudo sobre moda. Assine nosso Feed de Notícia e receba direto no seu email.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info info-hover">
                                    <div class="icon icon-primary icon-circle">
                                        <i class="now-ui-icons sport_trophy"></i>
                                    </div>
                                    <h4 class="info-title">Jogue conosco</h4>
                                    <p class="description">Isso mesmo, vamos te passar algumas tarefas para você cumprir, e reverta a sua pontuação em compras</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator-line separator-primary"></div>
            <div class="about-office">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-8 offset-md-2">
                            <h2 class="title">Venha conhecer nossa loja física</h2>
                            <h4 class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin orci enim. Sed eget
                                felis nec magna iaculis cursus ac viverra ligula.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="rounded img-raised" alt="Raised Image" src="../../static/img/bg27.jpg" th:src="@{/img/bg27.jpg}">
                        </div>
                        <div class="col-md-4">
                            <img class="rounded img-raised" alt="Raised Image" src="../../static/img/bg24.jpg" th:src="@{/img/bg24.jpg}">
                        </div>
                        <div class="col-md-4">
                            <img class="rounded img-raised" alt="Raised Image" src="../../static/img/bg28.jpg" th:src="@{/img/bg28.jpg}">
                        </div>
                        <div class="col-md-6">
                            <img class="rounded img-raised" alt="Raised Image" src="../../static/img/project6.jpg" th:src="@{/img/project6.jpg}">
                        </div>
                        <div class="col-md-6">
                            <img class="rounded img-raised" alt="Raised Image" src="../../static/img/project14.jpg" th:src="@{/img/project14.jpg}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-contact">
                <div class="contactus-2">
                    <div id="contactUsMap" class="map"></div>
                    <div class="col-lg-6 col-md-10">
                        <div class="card card-contact card-raised">
                            <form role="form" id="contact-form" method="post">
                                <div class="card-header text-center">
                                    <h4 class="card-titlee">Ajuda? Sugestão?</h4>
                                        <h5 class="text-center card-titlee">Entre em contato conosco agora mesmo. Vamos adorar conversar com você.</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="info info-horizontal">
                                                <div class="icon icon-primary">
                                                    <i class="now-ui-icons tech_mobile"></i>
                                                </div>
                                                <div class="description">
                                                    <h5 class="info-title">Contato</h5>
                                                    <p> Célia Magazine
                                                        <br> +XX X XXXX-XXXX
                                                        <br> Seg - Sab, 8:00-17:30
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="info info-horizontal">
                                                <div class="icon icon-primary">
                                                    <i class="now-ui-icons location_pin"></i>
                                                </div>
                                                <div class="description">
                                                    <h5 class="info-title">Endereço</h5>
                                                    <p> Rua Pedro Alves de Andrade, Nº. 220,
                                                        <br> Santa Terezinha - PE,
                                                        <br> Brasil
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-2">
                                            <label>Seu nome</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="now-ui-icons users_circle-08"></i>
                                                    </span>
                                                <input type="text" class="form-control" placeholder="Nome...">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-2">
                                            <label>Email</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                        <i class="now-ui-icons ui-1_email-85"></i>
                                                    </span>
                                                <input type="email" placeholder="Email..." class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkbox">
                                                <input id="checkbox2" type="checkbox">
                                                <label for="checkbox2">
                                                        I'm not a robot
                                                    </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-primary btn-round pull-right">Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SUBSCRIBE -->
        <div class="subscribe-line subscribe-line-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="title">Receba dicas e novidades a cada semana!</h4>
                        <p class="description">
                            Junte-se a nossa newsletter e receba novidades na sua caixa de entrada todas as semanas! Nós odiamos spam também, então não
                            se preocupe com isso.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-plain card-form-horizontal">
                            <div class="card-content">
                                <form method="" action="">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons ui-1_email-85"></i>
                                            </span>
                                                <input type="email" class="form-control" placeholder="Seu Email...">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-round btn-block">Assinar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- FOOTER -->
        <footer class="footer" data-background-color="black">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Sobre nós</h5>
                            <ul class="links-vertical">
                                <li>
                                    <a href="#" th:href="@{/sobre}" class="text-muted">Lorem Ipsum</a>
                                </li>
                                <li>
                                    <a href="#" th:href="@{/sobre}" class="text-muted">Lorem Ipsum</a>
                                </li>
                                <li>
                                    <a href="#" th:href="@{/sobre}" class="text-muted">Lorem Ipsum</a>
                                </li>
                                <li>
                                    <a href="#" th:href="@{/sobre}" class="text-muted">Lorem Ipsum</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <h5>Ajuda</h5>
                            <ul class="links-vertical">
                                <li>
                                    <a href="#" class="text-muted">Dúvidas frequentes</a>
                                </li>
                                <li>
                                    <a href="#" class="text-muted">Política de troca e devolução</a>
                                </li>
                                <li>
                                    <a href="#" class="text-muted">Forma de pagamento</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h5>Feed Notícia Top - 2</h5>
                            <div class="social-feed">
                                <div class="feed-line">
                                    <i class="fa fa-twitter"></i>
                                    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>.</p>
                                </div>
                                <div class="feed-line">
                                    <i class="fa fa-facebook-square"></i>
                                    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5>Siga-nos</h5>
                            <ul class="social-buttons">
                                <li>
                                    <a href="#" class="btn btn-icon btn-neutral btn-twitter btn-round">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-icon btn-neutral btn-facebook btn-round">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-icon btn-neutral btn-instagram btn-round">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <h5>Parceiros</h5>
                            <ul class="social-buttons">
                                <li>
                                    <a href="#" class="btn btn-icon btn-neutral btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-icon btn-neutral btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-icon btn-neutral btn-instagram btn-round"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="copyright">
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    Célia Magazine. Desenvolvido por <a href="#">Mateus Cordeiro</a>.
                </div>
            </div>
        </footer>
    </div>
</body>

	<!--   Core JS Files   -->
	<script src="../../static/js/core/jquery.3.2.1.min.js" th:src="@{/js/core/jquery.3.2.1.min.js}" type="text/javascript"></script>
	<script src="../../static/js/core/tether.min.js" th:src="@{/js/core/tether.min.js}" type="text/javascript"></script>
	<script src="../../static/js/core/bootstrap.min.js" th:src="@{/js/core/bootstrap.min.js}" type="text/javascript"></script>
	<script src="../../static/js/plugins/moment.min.js" th:src="@{/js/plugins/moment.min.js}"></script>
	<!--  Google Maps Plugin    -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-jn2H8AnGKeNHFqvIK1ZUrvhORMulG7E"></script>
	<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
	<script src="../../static/js/now-ui-kit.js?v=1.0.1" th:src="@{/js/now-ui-kit.js?v=1.0.1}" type="text/javascript"></script>


	<script type="text/javascript">
	    $(document).ready(function () {
	        // the body of this function is in assets/js/now-ui-kit.js
	        nowuiKit.initContactUsMap();
	    });
	</script>

</html>