<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="../../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <!--Font Awesome-->
    <script src="https://use.fontawesome.com/99347ac47f.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <!-- CSS Files -->
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../static/css/now-ui-kit.css?v=1.0.1" th:href="@{/css/now-ui-kit.css}" rel="stylesheet"/>
    <link href="../../static/css/demo.css" th:href="@{/css/demo.css}" rel="stylesheet"/>
    <link href="../../static/css/customVirtual.css" th:href="@{/css/customVirtual.css}" rel="stylesheet"/>
</head>

<body>

    <nav class="navbar navbar-toggleable-md bg-navcolor fixed-top navbar-transparent" color-on-scroll="500">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#" rel="tooltip" title="Confira as nossas novidades!" data-placement="bottom" target="_blank">Bem Vindo</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end align-items-center" data-nav-image="../../../../img/blurred-image-1.jpg" data-color="orange">
                <ul class="navbar-nav">
                    <input type="text" class="search-focus" name="" placeholder="Pesquise aqui...">
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <i class="fa fa-male" aria-hidden="true"></i>
                            <p>MASCULINO</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons shopping_box"></i>LANÇAMENTOS
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons ui-2_settings-90"></i>ROUPAS
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons text_align-left"></i> CALÇADOS
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons sport_user-run"></i> PROMOÇÕES
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-female" aria-hidden="true"></i>
                            <p>FEMININO</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons shopping_box"></i>LANÇAMENTOS
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons ui-2_settings-90"></i>ROUPAS
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons text_align-left"></i> CALÇADOS
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons sport_user-run"></i> PROMOÇÕES
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-child" aria-hidden="true"></i>
                            <p>INFANTIL</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons shopping_box"></i>LANÇAMENTOS
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons ui-2_settings-90"></i>ROUPAS
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons text_align-left"></i> CALÇADOS
                            </a>
                            <a class="dropdown-item" href="#" th:href="@{/produtos}">
                                <i class="now-ui-icons sport_user-run"></i> PROMOÇÕES
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="now-ui-icons users_circle-08" aria-hidden="true"></i>
                            <p>CONTA</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons shopping_box"></i>PERFIL
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons ui-2_settings-90"></i>PONTOS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons text_align-left"></i>PEDIDOS
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons sport_user-run"></i>MEUS FAVORITOS
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="#" target="_blank" th:href="@{/carrinho}">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <p>CARRINHO</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--BEGIN CAROUSEL-->
    <div id="carouselExampleIndicators" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item">
                <a href="#">
                    <div class="page-header header-filter">
                        <div class="page-header-image"
                             style="background-image: url('../../static/img/bg40.jpg');"
                             th:style="'background-image: url('+@{/img/bg40.jpg}+');'"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <h1 class="title">Tendências</h1>
                                    <h4 class="description text-white">Confira os nossos produtos mais vendidos</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <div class="page-header header-filter">
                        <div class="page-header-image"
                             style="background-image: url('../../static/img/bg41.jpg');"
                             th:style="'background-image: url('+@{/img/bg41.jpg}+');'"></div>
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-8 offset-md-2 text-center">
                                    <h1 class="title">Lançamentos</h1>
                                    <h4 class="description text-white">Venha conferir as nossas novidades</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="carousel-item active">
                <a href="#">
                    <div class="page-header header-filter">
                        <div class="page-header-image"
                             style="background-image: url('../../static/img/bg29.jpg');"
                             th:style="'background-image: url('+@{/img/bg29.jpg}+');'"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <h1 class="title">Encontre seu estilo</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="now-ui-icons arrows-1_minimal-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="now-ui-icons arrows-1_minimal-right"></i>
        </a>
    </div>
    <!-- END CAROUSEL -->

    <ul class="dice-menu">
        <li><span class="fa fa-navicon"></span></li>
        <li><span class="fa fa-gamepad"></span> Game</li>
        <li><span class="fa fa-file-text-o"></span> Feed</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
    </ul>

    <section layout:fragment="conteudo"></section>

    <!-- SUBSCRIBE -->
    <div class="subscribe-line subscribe-line-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="title">Receba dicas e novidades a cada semana!</h4>
                    <p class="description">
                        Junte-se a nossa newsletter e receba novidades na sua caixa de entrada todas as semanas! Nós odiamos spam também, então não
                        se preocupe com isso.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="card card-plain card-form-horizontal">
                        <div class="card-content">
                            <form method="" action="">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons ui-1_email-85"></i>
                                            </span>
                                            <input type="email" class="form-control" placeholder="Seu Email...">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-primary btn-round btn-block">Assinar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER -->
    <footer class="footer" data-background-color="black">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-2">
                        <h5>Sobre nós</h5>
                        <ul class="links-vertical">
                            <li>
                                <a href="#" th:href="@{/sobre}" class="text-muted">Lorem Ipsum</a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/sobre}" class="text-muted">Lorem Ipsum</a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/sobre}" class="text-muted">Lorem Ipsum</a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/sobre}" class="text-muted">Lorem Ipsum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5>Ajuda</h5>
                        <ul class="links-vertical">
                            <li>
                                <a href="#" class="text-muted">Dúvidas frequentes</a>
                            </li>
                            <li>
                                <a href="#" class="text-muted">Política de troca e devolução</a>
                            </li>
                            <li>
                                <a href="#" class="text-muted">Forma de pagamento</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Feed Notícia Top - 2</h5>
                        <div class="social-feed">
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-facebook-square"></i>
                                <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Siga-nos</h5>
                        <ul class="social-buttons">
                            <li>
                                <a href="#" class="btn btn-icon btn-neutral btn-twitter btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-icon btn-neutral btn-facebook btn-round">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-icon btn-neutral btn-instagram btn-round">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        <h5>Parceiros</h5>
                        <ul class="social-buttons">
                            <li>
                                <a href="#" class="btn btn-icon btn-neutral btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-icon btn-neutral btn-facebook btn-round"><i class="fa fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-icon btn-neutral btn-instagram btn-round"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="copyright">
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>
                Célia Magazine</a>.
            </div>
        </div>
    </footer>

    <!--   Core JS Files   -->
    <script src="../../static/js/core/jquery.3.2.1.min.js" th:src="@{/js/core/jquery.3.2.1.min.js}" type="text/javascript"></script>
    <script src="../../static/js/core/tether.min.js" th:src="@{/js/core/tether.min.js}" type="text/javascript"></script>
    <script src="../../static/js/core/bootstrap.min.js" th:src="@{/js/core/bootstrap.min.js}" type="text/javascript"></script>
    <script src="../../static/js/plugins/moment.min.js" th:src="@{/js/plugins/moment.min.js}"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../../static/js/plugins/bootstrap-switch.js" th:src="@{/js/plugins/bootstrap-switch.js}"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../../static/js/plugins/bootstrap-tagsinput.js" th:src="@{/js/plugins/bootstrap-tagsinput.js}"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../../static/js/plugins/bootstrap-selectpicker.js" th:src="@{/js/plugins/bootstrap-selectpicker.js}" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-jn2H8AnGKeNHFqvIK1ZUrvhORMulG7E"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../../static/js/plugins/jasny-bootstrap.min.js" th:src="@{/js/plugins/jasny-bootstrap.min.js}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../../static/js/plugins/nouislider.min.js" th:src="@{/js/plugins/nouislider.min.js}" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="../../static/js/plugins/bootstrap-datetimepicker.min.js" th:src="@{/js/plugins/bootstrap-datetimepicker.min.js}" type="text/javascript"></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="../../static/js/now-ui-kit.js?v=1.0.1" th:src="@{/js/now-ui-kit.js?v=1.0.1}" type="text/javascript"></script>
    <!--Fixed Side Pop Out Menu -->
    <script th:src="@{/js/dice-menu.js}" type="text/javascript"></script>

    <th:block layout:fragment="javascript-extra"></th:block>

</body>
</html>