<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{lojaVirtual/header}">
<head>
    <title>Produto - Célia Magazine</title>
    <link th:href="@{/css/xzoom.css}" rel="stylesheet"/>

</head>

<body>
<section layout:fragment="conteudo">

    <div class="wrapper">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div id="productCarousel" class="carousel" data-ride="carousel" data-interval="8000">
                            <ol class="carousel-indicators">
                                <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#productCarousel" data-slide-to="1"></li>
                                <li data-target="#productCarousel" data-slide-to="2"></li>
                                <li data-target="#productCarousel" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block img-raised xzoom1" src="../../static/img/pp-1.jpg" th:xoriginal="@{/img/pp-1.jpg}" th:src="@{/img/pp-1.jpg}" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-raised xzoom2" src="../../static/img/pp-2.jpg" th:xoriginal="@{/img/pp-2.jpg}" th:src="@{/img/pp-2.jpg}" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-raised xzoom3" src="../../static/img/pp-3.jpg" th:xoriginal="@{/img/pp-3.jpg}" th:src="@{/img/pp-3.jpg}" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-raised xzoom4" src="../../static/img/pp-4.jpg" th:xoriginal="@{/img/pp-4.jpg}" th:src="@{/img/pp-4.jpg}" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                                <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                                    <i class="now-ui-icons arrows-1_minimal-left"></i>
                                </button>
                            </a>
                            <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                                <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                                    <i class="now-ui-icons arrows-1_minimal-right"></i>
                                </button>
                            </a>
                        </div>
                        <p class="blockquote blockquote-primary">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet placerat diam, sagittis faucibus arcu. Aliquam
                            non tempor quam."
                            <!--<br>
                            <br>
                            <small>Kanye West</small>-->
                        </p>
                    </div>
                    <div class="col-md-6 offset-1">
                        <h2 class="title"> Saint Laurent</h2>
                        <h5 class="category">Lorem Ipsum</h5>
                        <h2 class="main-price">R$ 3.390</h2>
                        <div id="acordeon" class="accordeon">
                            <div class="card card-plain">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Descrição
                                            <i class="now-ui-icons arrows-1_minimal-down"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-block">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin eros
                                            sit amet sollicitudin hendrerit. Sed quis metus non mauris vestibulum commodo
                                            interdum eu tellus. Aenean vulputate neque sed mauris consequat, gravida pretium
                                            urna aliquam.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-plain">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            INFORMAÇÃO
                                            <i class="now-ui-icons arrows-1_minimal-down"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-block">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin eros
                                            sit amet sollicitudin hendrerit. Sed quis metus non mauris vestibulum commodo
                                            interdum eu tellus. Aenean vulputate neque sed mauris consequat, gravida pretium
                                            urna aliquam.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-plain">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            DETALHES
                                            <i class="now-ui-icons arrows-1_minimal-down"></i>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="card-block">
                                        <ul>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin
                                                eros sit amet sollicitudin hendrerit.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin
                                                eros sit amet sollicitudin hendrerit.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin
                                                eros sit amet sollicitudin hendrerit.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin
                                                eros sit amet sollicitudin hendrerit.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin
                                                eros sit amet sollicitudin hendrerit.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  end acordeon -->
                        <div class="row pick-size">
                            <div class="col-lg-6 col-md-8 col-sm-6">
                                <label>Cor</label>
                                <select class="selectpicker" data-style="select-with-transition btn btn-block" data-size="7">
                                    <option value="1">Preto</option>
                                    <option value="2">Branco</option>
                                    <option value="3">Azul</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-8 col-sm-6">
                                <label>Tamanho</label>
                                <select class="selectpicker" data-style="select-with-transition btn btn-block" data-size="7">
                                    <option value="1">P</option>
                                    <option value="2">M</option>
                                    <option value="3">G</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <button class="btn btn-primary mr-3">Adicionar ao carrinho &nbsp;<i class="now-ui-icons shopping_cart-simple"></i></button>
                        </div>
                    </div>
                </div>
                <div id="comments">
                    <div class="title">
                        <h3>
                            <small>Comentários</small>
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="media-area">
                                <h3 class="title text-center">
                                    <small>10 Comentários</small>
                                </h3>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <div class="avatar">
                                            <img class="media-object img-raised" src="../../static/img/marie.jpg" th:src="@{/img/marie.jpg}" alt="..." />
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">User I
                                            <small class="text-muted">&middot; 7 minutes ago</small>
                                        </h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin eros
                                            sit amet sollicitudin hendrerit. Sed quis metus non mauris vestibulum commodo
                                            interdum eu tellus!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin eros
                                            sit amet sollicitudin hendrerit!</p>
                                        <div class="media-footer">
                                            <a href="#" class="btn btn-primary btn-neutral pull-right" rel="tooltip" title="Responder comentário">
                                                <i class="now-ui-icons ui-1_send"></i> Responder
                                            </a>
                                            <a href="#" class="btn btn-danger btn-neutral pull-right" rel="tooltip" title="Gostei">
                                                <i class="now-ui-icons ui-2_favourite-28"></i> 243
                                            </a>
                                        </div>
                                        <div class="media media-post">
                                            <a class="pull-left author" href="#">
                                                <div class="avatar">
                                                    <img class="media-object img-raised" alt="64x64" src="../../static/img/james.jpg" th:src="@{/img/james.jpg}">
                                                </div>
                                            </a>
                                            <div class="media-body">
                                                <textarea class="form-control" placeholder="Escreva algumas coisas legais..." rows="4"></textarea>
                                                <div class="media-footer">
                                                    <a href="#" class="btn btn-primary pull-right">
                                                        <i class="now-ui-icons ui-1_send"></i> Responder
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <div class="avatar">
                                            <img class="media-object img-raised" alt="Tim Picture" src="../../static/img/olivia.jpg" th:src="@{/img/olivia.jpg}">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">User II
                                            <small class="text-muted">&middot; Seg.</small>
                                        </h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin eros
                                            sit amet sollicitudin hendrerit. Sed quis metus non mauris vestibulum commodo
                                            interdum eu tellus!</p>
                                        <div class="media-footer">
                                            <a href="#" class="btn btn-primary btn-neutral pull-right" rel="tooltip" title="Responder comentário">
                                                <i class="now-ui-icons ui-1_send"></i> Responder
                                            </a>
                                            <a href="#" class="btn btn-default btn-neutral pull-right" rel="tooltip" title="Gostei">
                                                <i class="now-ui-icons ui-2_favourite-28"></i> 25
                                            </a>
                                        </div>
                                        <div class="media">
                                            <a class="pull-left" href="#">
                                                <div class="avatar">
                                                    <img class="media-object img-raised" alt="64x64" src="../../static/img/emily.jpg" th:src="@{/img/emily.jpg}">
                                                </div>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">User III
                                                    <small class="text-muted">&middot; Hoje</small>
                                                </h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin
                                                    eros sit amet sollicitudin hendrerit!</p>
                                                <div class="media-footer">
                                                    <a href="#" class="btn btn-primary btn-neutral pull-right" rel="tooltip" title="Responder comentário">
                                                        <i class="now-ui-icons ui-1_send"></i> Responder
                                                    </a>
                                                    <a href="#" class="btn btn-danger btn-neutral pull-right" rel="tooltip" title="Gostei">
                                                        <i class="now-ui-icons ui-2_favourite-28"></i> 243
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination pagination-primary justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="text-center">Poste seu comentário
                                <br>
                                <!--<small class="text-muted">- Logged In User -</small>-->
                            </h4>
                            <div class="media media-post">
                                <a class="pull-left author" href="#">
                                    <div class="avatar">
                                        <img class="media-object img-raised" alt="64x64" src="../../static/img/james.jpg" th:src="@{/img/james.jpg}">
                                    </div>
                                </a>
                                <div class="media-body">
                                    <textarea class="form-control" placeholder="Escreva algumas coisas legais..." rows="6"></textarea>
                                    <div class="media-footer">
                                        <a href="#" class="btn btn-primary btn-wd pull-right">Postar</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end media-post -->
                        </div>
                    </div>
                </div>
                <!--                 end comments                 -->
                <div class="features-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2 text-center">
                                <h2 class="title">Ainda não está convencido!</h2>
                                <h4 class="description">Olhe as vantagens de comprar conosco, lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Aliquam sollicitudin eros sit amet sollicitudin hendrerit!</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-background card-raised" data-background-color style="background-image: url('../../static/img/bg24.jpg')" th:style="'background-image: url('+@{/img/bg24.jpg}+');'">
                                    <div class="info">
                                        <div class="icon icon-white">
                                            <i class="now-ui-icons shopping_delivery-fast"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Postagem rápida</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin
                                                eros sit amet sollicitudin hendrerit. Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Aliquam sollicitudin eros sit amet sollicitudin hendrerit!
                                                </p>
                                            <a href="#" class="ml-3">Mais informação...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-background card-raised" data-background-color style="background-image: url('../../static/img/bg28.jpg')" th:style="'background-image: url('+@{/img/bg28.jpg}+');'">
                                    <div class="info">
                                        <div class="icon icon-white">
                                            <i class="now-ui-icons business_badge"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Politica de reembolso</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin
                                                eros sit amet sollicitudin hendrerit! </p>
                                            <a href="#" class="ml-3">Mais informação...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-background card-raised" data-background-color style="background-image: url('../../static/img/bg25.jpg')" th:style="'background-image: url('+@{/img/bg25.jpg}+');'">
                                    <div class="info">
                                        <div class="icon">
                                            <i class="now-ui-icons ui-2_favourite-28"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Pós-pago</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin
                                                eros sit amet sollicitudin hendrerit. Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Aliquam sollicitudin eros sit amet sollicitudin hendrerit!
                                                </p>
                                            <a href="#" class="ml-3">Mais informação...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section related-products" data-background-color="gray">
            <div class="container">
                <h3 class="title text-center">Você também pode estar interessado em:</h3>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-product">
                            <div class="card-image">
                                <a href="#">
                                    <img class="img rounded" src="../../static/img/saint-laurent.jpg" th:src="@{/img/saint-laurent.jpg}"/>
                                </a>
                            </div>
                            <div class="card-block">
                                <h6 class="category text-danger">Tendência</h6>
                                <h4 class="card-title">
                                    <a href="#" class="card-link">Dolce & Gabbana</a>
                                </h4>
                                <div class="card-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin eros sit amet sollicitudin hendrerit.
                                </div>
                                <div class="card-footer">
                                    <div class="price-container">
                                        <span class="price">R$ 1.459</span>
                                    </div>
                                    <button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Adicionar a lista de desejos">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-product">
                            <div class="card-image">
                                <a href="#">
                                    <img class="img rounded" src="../../static/img/gucci.jpg" th:src="@{/img/gucci.jpg}"/>
                                </a>
                            </div>
                            <div class="card-block">
                                <h6 class="category text-muted">Popular</h6>
                                <h4 class="card-title">
                                    <a href="#" class="card-link">Balmain</a>
                                </h4>
                                <div class="card-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin eros sit amet sollicitudin hendrerit.
                                </div>
                                <div class="card-footer">
                                    <div class="price-container">
                                        <span class="price">R$ 459,00</span>
                                    </div>
                                    <button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Adicionar a lista de desejos">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-product">
                            <div class="card-image">
                                <a href="#">
                                    <img class="img rounded" src="../../static/img/wooyoungmi.jpg" th:src="@{/img/wooyoungmi.jpg}"/>
                                </a>
                            </div>
                            <div class="card-block">
                                <h6 class="category text-muted">Popular</h6>
                                <h4 class="card-title">
                                    <a href="#" class="card-link">Balenciaga</a>
                                </h4>
                                <div class="card-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin eros sit amet sollicitudin hendrerit.
                                </div>
                                <div class="card-footer">
                                    <div class="price-container">
                                        <span class="price">R$ 559,00</span>
                                    </div>
                                    <button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Adicionar a lista de desejos">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-product">
                            <div class="card-image">
                                <a href="#">
                                    <img class="img rounded" src="../../static/img/saint-laurent1.jpg" th:src="@{/img/saint-laurent1.jpg}"/>
                                </a>
                            </div>
                            <div class="card-block">
                                <h6 class="category text-danger">Tendência</h6>
                                <h4 class="card-title">
                                    <a href="#" class="card-link">Dolce & Gabbana</a>
                                </h4>
                                <div class="card-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin eros sit amet sollicitudin hendrerit.
                                </div>
                                <div class="card-footer">
                                    <div class="price-container">
                                        <span class="price">R$ 1.359</span>
                                    </div>
                                    <button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Adicionar a lista de desejos">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="javascript-extra">
    <script th:src="@{/js/xzoom.js}" type="text/javascript"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            $(".xzoom1").xzoom({zoomWidth:300,zoomHeight:300});
            $(".xzoom2").xzoom({zoomWidth:300,zoomHeight:300});
            $(".xzoom3").xzoom({zoomWidth:300,zoomHeight:300});
            $(".xzoom4").xzoom({zoomWidth:300,zoomHeight:300});



            $('.carousel').carousel("pause");

//            var slider2 = document.getElementById('sliderRefine');
//
//            noUiSlider.create(slider2, {
//                start: [42, 880],
//                connect: true,
//                range: {
//                    'min': [30],
//                    'max': [900]
//                }
//            });
//
//            var limitFieldMin = document.getElementById('price-left');
//            var limitFieldMax = document.getElementById('price-right');
//
//            slider2.noUiSlider.on('update', function (values, handle) {
//                if (handle) {
//                    limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
//                } else {
//                    limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
//                }
//            });
        });
    </script>
</th:block>
</body>

</html>