<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{lojaFisica/header}">
<head>
    <title>Funcionário Lista - Célia Magazine</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
</head>

<body>
        <section layout:fragment="conteudo">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display">Lista de Funcionários</h2>
                    </div>
                    
                    <div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(msgSuccess)}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<span th:text="${msgSuccess}"></span>
					</div>
                    
                    <div class="card-block">
                        <table class="table table-striped table-hover table-sm">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Nome</th>
                                    <th>Cargo</th>
                                    <th>CPF</th>
                                    <th>Cidade</th>
                                    <th>Telefone</th>
                                    <th>Contato</th>
                                    <th>Email</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="funcionario : ${funcionarios}">
                                    <th scope="row" th:text="${funcionario.nome}">Lorem ipsum dolor sit amet</th>
                                    <td th:text="${funcionario.cargo}">Lorem ipsum dolor sit amet</td>
                                    <td th:text="${funcionario.cpf}">XXX.XXX.XXX-XX</td>
                                    <td th:text="${funcionario.endereco.cidade}">Lorem ipsum dolor sit amet</td>
                                    <td th:text="${funcionario.telefone}">(XX) 9 XXXX-XXXX</td>
                                    <td th:text="${funcionario.contato}">Lorem ipsum dolor sit amet</td>
                                    <td th:text="${funcionario.email}">Lorem ipsum dolor sit amet</td>
                                    <td >
                                        <a href="#" th:href="@{/funcionario/buscar(id=${funcionario.id})}" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Visualizar/Editar">
                                            <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Remover">
                                            <i class="fa fa-trash fa-lg" th:data-idfunc="${funcionario.id}" th:data-nome="${funcionario.nome}" th:data-idend="${funcionario.endereco.id}" 
                                            	data-toggle="modal" data-target="#modalRemover" aria-hidden="true" ></i></a>
                                    </td>
                                </tr>
                                <tr th:if="${funcionarios.empty}">
                                	<td colspan="8">Nenhum funcionário encontrado!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="modalRemover" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
			  		<div class="modal-content">
			  			<form th:action="@{remover}" method="POST">
			  				<input type="hidden" name="_method" value="DELETE"/>
			  				<input type="hidden" id="inputIdFunc" name="idFunc"/>
			  				<input type="hidden" id="inputIdEnd" name="idEnd"/>
			     			<div class="modal-header">
				       			<h4 class="modal-title" id="myModalLabel">Excluir funcionário</h4>
				       			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				       				<span aria-hidden="true">&times;</span>
				       			</button>
			     			</div>
			     			<div class="modal-body">
			       				<span>Tem certeza?</span>
			     			</div>
			     			<div class="modal-footer">
			       				<button type="button" class="btn  btn-default" data-dismiss="modal">Cancelar</button>
			       				<button type="submit" class="btn  btn-primary">Excluir</button>
			     			</div>
			     		</form>
			  		</div>
				</div>
			</div>
        </section>

    <th:block layout:fragment="javascript-extra">
    	<script src="../../../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    	
		<script>
        $(document).ready(function () {
        	/* SELECT NAV */
        	$("#navFuncionario").children().attr("aria-expanded", true);
        	$("#navFuncionario").children("ul").addClass("show");
        	$("#navFuncionario").children("ul").children("li").get(2).className= "active";
        	
            $('[data-toggle="popover"]').popover();

            $('table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Portuguese-Brasil.json"
                }
            });
            
            $('#modalRemover').on('show.bs.modal', function (event) {
            	var botao = $(event.relatedTarget);
            	var nome = botao.data('nome');
            	$("#inputIdFunc").attr('value', botao.data('idfunc'));
            	$("#inputIdEnd").attr('value', botao.data('idend'));
            	var modal = $(this);
            	modal.find('.modal-body span').html('Tem certeza que deseja excluir <strong>' + nome + '</strong>?');
            });
        });
    	</script>
	</th:block>
</body>
</html>