<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{lojaFisica/header}">
<head>
    <title>Perfil - Célia Magazine</title>
</head>

<body>
    <section layout:fragment="conteudo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    	<div class="card-header d-flex align-items-center">
                            <h2 class="h5 display display">Funcionário / Perfil</h2>
                        </div>
                        <div class="card-group">
                            <div class="card align-items-center">
                                <img class="card-img-top img-thumbnail centro" src="../../../static/img/avatar-1.jpg" th:src="@{/img/avatar-1.jpg}" alt="Upload">
                                <input type="file" name="" id=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <form id="formulario" class="form-horizontal" method="POST" th:object="${funcionario}" th:action="@{update}">
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" th:field="*{endereco.id}"/>
                                    <!-- MSG SUCESS -->
                                    <div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(msgSuccess)}">
                                    	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    	<span th:text="${msgSuccess}"></span>
                                    </div>
                                    <!-- ERROS -->
                                	<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<th:block th:each="error : ${#fields.detailedErrors()}">
											<div>
												<i class="fa  fa-exclamation-circle"></i>
												<span th:text="${error.message}"></span>
											</div>
										</th:block>
									</div>
									
									<div class="line"></div>
                                    <div class="form-group row">
                                    	<h3><span>Dados Pessoais</span></h3>
                                    </div>
                                	
                                    <div class="form-group row">
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Nome</label>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <input type="text" placeholder="Nome completo" class="form-control" th:field="*{nome}" required/>
                                        </div>
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Email</label>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <input type="email" placeholder="Email" class="form-control" th:field="*{email}"/>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Pai</label>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <input type="text" placeholder="Nome de pai" class="form-control" th:field="*{pai}"/>
                                        </div>
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Mãe</label>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <input type="text" placeholder="Nome de mãe" class="form-control" th:field="*{mae}"/>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="fform-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Celular</label>
                                        <div class="col-sm-5 col-md-5 col-lg-2 col-xl-2 ">
                                            <input type="text" value="(83) 98877-6655" class="form-control phone_with_ddd" th:field="*{celular}"/>
                                        </div>
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Telefone</label>
                                        <div class="col-sm-5 col-md-5 col-lg-2 col-xl-2">
                                            <input type="text" value="(83) 98877-6655" class="form-control phone_with_ddd" th:field="*{telefone}"/>
                                        </div>
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Contato</label>
                                        <div class="col-sm-11 col-md-11 col-lg-5 col-xl-5">
                                            <input type="text" placeholder="Info do contato" class="form-control" th:field="*{contato}"/>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">CPF</label>
                                        <div class="col-sm-5 col-md-5 col-lg-3 col-xl-2">
                                            <input type="text" value="123.456.789-12" class="form-control cpf" th:field="*{cpf}" required/>
                                        </div>
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-auto col-xl-1">RG</label>
                                        <div class="col-sm-5 col-md-5 col-lg-3 col-xl-2">
                                            <input type="text" value="88.888-88" class="form-control rg" th:field="*{rg}"/>
                                        </div>
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Nascimento</label>
                                        <div class="col-sm-5 col-md-5 col-lg-3 col-xl-2">
                                            <input type="date" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" value="23/01/1996" 
                                            	class="form-control date" th:field="*{dtNascimento}"/>
                                        </div>
                                    	<label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Cargo</label>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-2">
                                            <select name="" class="form-control" th:field="*{cargo}">
                                                <option th:each="cargo : ${cargos}" th:value="${cargo}" th:text="#{|cargo.${cargo}|}">Gerente</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="line"></div>
                                    <div class="form-group row">
                                    	<h3><span>Endereço</span></h3>
                                    </div>
                                    
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">CEP</label>                                
                                        <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2">
                                            <input type="text" class="form-control cep" th:field="*{endereco.cep}" required/>
                                        </div>
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-2 col-xl-1">Complemento</label>
                                        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-2">
                                            <input type="text" placeholder="Ex: Ap, Casa, Bloco" class="form-control" th:field="*{endereco.complemento}"/>
                                        </div>
                                        
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Rua</label>
                                        <div class="col-sm-11 col-md-11 col-lg-11 col-xl-5">
                                            <input type="text" placeholder="Rua" class="form-control" th:field="*{endereco.logradouro}" required/>
                                        </div>
                                    </div>
                                        
                                    <div class="form-group row">
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Cidade</label>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                            <input type="text" placeholder="Cidade" class="form-control" th:field="*{endereco.cidade}" required/>
                                        </div>
                                        <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Bairro</label>
                                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-2">
                                            <input type="text" placeholder="Bairro" class="form-control" th:field="*{endereco.bairro}" required/>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-1">
                                            <select name="" class="form-control" th:field="*{endereco.estado}">
                                                <option value="" disabled selected>Estado</option>
												<option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado.nome}"></option>
                                            </select>
                                        </div>
                                        <label class="form-control-label col-sm-2 col-md-1 col-lg-1 col-xl-1">Número</label>
                                        <div class="col-sm-4 col-md-5 col-lg-2 col-xl-1">
                                            <input type="number" placeholder="Número" min="0" class="form-control" th:field="*{endereco.numero}" required/>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="form-control-label col-sm-2 col-md-2 col-lg-2 col-xl-1">Observação</label>
                                        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-5">
                                            <textarea class="form-control" max="255" placeholder="Notas ou lembretes" rows="5" th:field="*{observacao}"></textarea>
                                        </div>
                                        <label class="form-control-label col-sm-2 col-md-2 col-lg-2 col-xl-1">Usuário</label>
                                        <div class="col-sm-4 col-md-5 col-lg-4 col-xl-2">
                                            <input type="text" placeholder="Usuário" class="form-control" th:field="*{username}"/>
                                        </div>
                                        <label class="form-control-label col-sm-2 col-md-1 col-lg-1 col-xl-1">Senha</label>
                                        <div class="col-sm-4 col-md-4 col-lg-5 col-xl-2">
                                            <input type="password" placeholder="Senha" class="form-control" th:field="*{password}"/>
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-primary centro-input">Atualizar Perfil</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    <th:block layout:fragment="javascript-extra">
		<script src="../../../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
	
		<script>
	    	$(document).ready(function(){
	    		$("#navPerfil").addClass("active");
	    		
				$('.date').mask('00/00/0000', {placeholder: "__/__/____"});
				$('.cep').mask('00000-000', {placeholder: "xxxxx-xx", reverse: true});
				$('.phone_with_ddd').mask('(00) 0000-0000', {placeholder: "(DDD) xxxx-xxxx"});
				$('.cpf').mask('000.000.000-00', {placeholder: "xxx.xxx.xxx-xx", reverse: true});
				$('.rg').mask('00.000.000-0', {placeholder: "xx.xxx.xxx-x", reverse: true});
			});
	    </script>
	</th:block>
</body>

</html>