<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Venda Buscar - Célia Magazine</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="all,follow"/>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../../static/css/style.default.css" th:href="@{/css/style.default.css}" id="theme-stylesheet"/>
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="../../../static/css/grasp_mobile_progress_circle-1.0.0.min.css" th:href="@{/css/grasp_mobile_progress_circle-1.0.0.min.css}"/>
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../../static/css/custom.css" th:href="@{/css/custom.css}"/>
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../../static/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
    <!-- Font Awesome CDN-->
    <!-- you can replace it by local Font Awesome-->
    <script src="https://use.fontawesome.com/99347ac47f.js"></script>
    <!-- Font Icons CSS-->
    <link rel="stylesheet" href="https://file.myfontastic.com/da58YPMQ7U5HY8Rb6UxkNf/icons.css"/>
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <div class="sidenav-header-inner text-center"><img src="../../../static/img/avatar-1.jpg" th:src="@{/img/avatar-1.jpg}" alt="person" class="img-fluid rounded-circle"/>
                    <h2 class="h5 text-uppercase">Mateus Cordeiro Silva Alves</h2><span class="text-uppercase">Develop</span>
                </div>
                <div class="sidenav-header-logo"><a href="#" class="brand-small text-center"> <strong>C</strong><strong class="text-primary">M</strong></a></div>
            </div>
            <div class="main-menu">
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li><a href="#"> <i class="icon-home"></i><span>Inicio</span>
                        <div class="badge badge-warning">6 New</div></a></li>
                    <li> <a href="#"><i class="fa fa-user" aria-hidden="true"></i><span>Perfil</span></a></li>
                    <li> <a href="#"> <i class="fa fa-book" aria-hidden="true"> </i><span>Relatórios</span>
                        <div class="badge badge-info">Special</div></a></li>
                    <li> <a href="#pages-nav-funcionario" data-toggle="collapse" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i><span>Funcionários</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
                        <ul id="pages-nav-funcionario" class="collapse list-unstyled">
                            <li> <a href="#">Criar</a></li>
                            <li> <a href="#">Buscar</a></li>
                            <li> <a href="#">Listar</a></li>
                        </ul>
                    </li>
                    <li> <a href="#pages-nav-cliente" data-toggle="collapse" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i><span>Clientes</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
                        <ul id="pages-nav-cliente" class="collapse list-unstyled">
                            <li> <a href="#">Criar</a></li>
                            <li> <a href="#">Buscar</a></li>
                            <li> <a href="#">Listar</a></li>
                        </ul>
                    </li>
                    <li> <a href="#pages-nav-produto" data-toggle="collapse" aria-expanded="false"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span>Produtos</span>
                        <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
                        <ul id="pages-nav-produto" class="collapse list-unstyled">
                            <li> <a href="#">Criar</a></li>
                            <li> <a href="#">Buscar</a></li>
                            <li> <a href="#">Listar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="admin-menu">
                <ul id="side-admin-menu" class="side-menu list-unstyled">
                    <li> <a href="#pages-nav-venda" data-toggle="collapse" aria-expanded="true"><i class="fa fa-cart-plus" aria-hidden="true"></i><span>Vendas</span>
                    <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div></a>
                        <ul id="pages-nav-venda" class="collapse show list-unstyled">
                            <li> <a href="#">Criar</a></li>
                            <li class="active"> <a href="#" data-toggle="modal" data-target="#myModal">Buscar</a></li>
                            <li> <a href="#">Listar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- MODAL BUSCAR-->
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="exampleModalLabel" class="modal-title">Buscar Venda</h5>
                    <button type="button" data-dismiss="modal" aria-label="Fechar" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Buscar venda por Cliente. Informe o nome.</p>
                    <form>
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" placeholder="Nome do cliente" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                    <button type="button" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Side Navbar -->

    <div class="page home-page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
                            <a href="#" class="navbar-brand">
                                <div class="brand-text hidden-sm-down"><span>Célia Magazine</span></div>
                            </a>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- notifications -->
                            <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="nav-link"><i class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>
                                <ul aria-labelledby="notifications" class="dropdown-menu">
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item">
                                            <div class="notification d-flex justify-content-between">
                                                <div class="notification-content"><i class="fa fa-envelope"></i>Você tem 6 novos comentários</div>
                                                <div class="notification-time"><small>4 min atrás</small></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item">
                                            <div class="notification d-flex justify-content-between">
                                                <div class="notification-content"><i class="fa fa-twitter"></i>Você tem 2 novos seguidores</div>
                                                <div class="notification-time"><small>4 min atrás</small></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item">
                                            <div class="notification d-flex justify-content-between">
                                                <div class="notification-content"><i class="fa fa-upload"></i>Problema servidor</div>
                                                <div class="notification-time"><small>5 min atrás</small></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-bell"></i>Visualizar todas</strong></a></li>
                                </ul>
                            </li>
                            <!-- end notifications -->
                            <!-- messages -->
                            <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-info">10</span></a>
                                <ul aria-labelledby="notifications" class="dropdown-menu">
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                            <div class="msg-body">
                                                <h3 class="h5">Jason Doe</h3><span>enviou uma mensagem direta</span><small>3 dias atrás a 7:58 pm - 10/06/2017</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                            <div class="msg-body">
                                                <h3 class="h5">Frank Williams</h3><span>enviou uma mensagem direta</span><small>3 dias atrás a 8:00 pm - 12/06/2017</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                            <div class="msg-body">
                                                <h3 class="h5">Ashley Wood</h3><span>enviou uma mensagem direta</span><small>3 dias atrás a 9:50 pm - 13/06/2017</small>
                                            </div>
                                        </a>
                                    </li>
                                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Visualizar todas</strong></a></li>
                                </ul>
                            </li>
                            <!-- end messages -->
                            <li class="nav-item"><a href="#" class="nav-link logout">Sair<i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h2 class="h5 display">Venda / Buscar</h2>
                            </div>
                            <div class="card-block">
                                <table id="tabular" class="table table-striped table-hover table-sm">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>Nome</th>
                                            <th>Data Emissão</th>
                                            <th>Data Vencimento</th>
                                            <th>Data Recebimento</th>
                                            <th>Valor Venda</th>
                                            <th>Valor Recebido</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="background: #E8DCD3">
                                            <td>Em aberto</td>
                                            <td>20/03/2017</td>
                                            <td>20/04/2017</td>
                                            <td>--------</td>
                                            <td>R$ 100,00</td>
                                            <td>--------</td>
                                            <td >
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Pagar"><i class="fa fa-money fa-lg" aria-hidden="true"></i></a>
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Visualizar Compra" style="padding-left: 10px"><i class="fa fa-id-badge fa-lg" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr style="background: #9BFF95">
                                            <td>Pago</td>
                                            <td>20/03/2017</td>
                                            <td>20/04/2017</td>
                                            <td>30/03/2017</td>
                                            <td>R$ 100,00</td>
                                            <td>R$ 20,00</td>
                                            <td>
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Pagar"><i class="fa fa-money fa-lg" aria-hidden="true"></i></a>
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Visualizar Compra" style="padding-left: 10px"><i class="fa fa-id-badge fa-lg" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr style="background: #FFF69E">
                                            <td>Vence hj</td>
                                            <td>20/03/2017</td>
                                            <td>20/04/2017</td>
                                            <td>--------</td>
                                            <td>R$ 100,00</td>
                                            <td>--------</td>
                                            <td>
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Pagar"><i class="fa fa-money fa-lg" aria-hidden="true"></i></a>
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Visualizar Compra" style="padding-left: 10px"><i class="fa fa-id-badge fa-lg" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr style="background: #FF7E7D">
                                            <td>Vencido</td>
                                            <td>20/03/2017</td>
                                            <td>20/04/2017</td>
                                            <td>--------</td>
                                            <td>R$ 100,00</td>
                                            <td>--------</td>
                                            <td>
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Pagar">
                                                        <i data-toggle="modal" data-target="#myPagar" class="fa fa-money fa-lg" aria-hidden="true"></i></a>
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Visualizar Compra" style="padding-left: 10px">
                                                        <i data-toggle="modal" data-target="#myModalVisualizar" class="fa fa-id-badge fa-lg" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h1 class="h3 display">
                                    <p>Legenda</p>
                                    <span style="background: #FF7E7D">Vencido</span>
                                    <span style="background: #FFF69E">Vence hoje</span>
                                    <span style="background: #9BFF95">Pago</span>
                                    <span style="background: #E8DCD3">Em aberto</span>
                                </h1>
                                <span>Loading ...</span>
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL PAGAR-->
            <div id="myPagar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="exampleModalLabel" class="modal-title">Pagamento</h5>
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Pagamento do Cliente: </p>
                            <form>
                                <div class="form-group">
                                    <label>Valor</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">R$</div>
                                        <input type="text" placeholder="Valor da parcela" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Forma de pagamento</label>
                                    <select name="" class="form-control col-lg-6">
                                            <option>Dinheiro</option>
                                            <option>Debito</option>
                                            <option>Cartão de Credito</option>
                                        </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                            <button type="button" class="btn btn-primary">Pagar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MODAL VISUALIZAR-->
            <div id="myModalVisualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="exampleModalLabel" class="modal-title">Visualizar Venda</h5>
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Cliente: </p>
                            <form>
                                <div class="form-group">
                                    <label>Produtos</label>
                                    <select name="" class="form-control col-lg-6">
                                            <option>Produto I</option>
                                            <option>Produto II</option>
                                            <option>Produto III</option>
                                            <option>Produto ...</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label>Forma de pagamento</label>
                                    <select name="" class="form-control col-lg-6">
                                            <option>Dinheiro</option>
                                            <option>Debito</option>
                                            <option>Cartão de Credito</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label>Valor</label>
                                </div>
                                <div class="form-group">
                                    <label>Valor pago</label>
                                </div>
                                <div class="form-group">
                                    <label>Funcionário</label>
                                </div>
                                <div class="form-group">
                                    <label>Data Emissão</label>
                                </div>
                                <div class="form-group">
                                    <label>Data Vencimento</label>
                                </div>
                                <div class="form-group">
                                    <label>Data Recebimento</label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                            <button type="button" class="btn btn-primary">Pagar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Célia Magazine &copy; 2010-2017</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
                        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../../static/js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script src="../../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../../static/js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
    <script src="../../../static/js/grasp_mobile_progress_circle-1.0.0.min.js" th:src="@{/js/grasp_mobile_progress_circle-1.0.0.min.js}"></script>
    <script src="../../../static/js/jquery.nicescroll.min.js" th:src="@{/js/jquery.nicescroll.min.js}"></script>
    <script src="../../../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="../../../static/js/charts-home.js" th:src="@{/js/charts-home.js}"></script>
    <script src="../../../static/js/front.js" th:src="@{/js/front.js}"></script>

</body>

</html>