<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{lojaFisica/header}">
<head>
    <title>Venda Listar - Célia Magazine</title>
    <link rel="stylesheet" href="../../../static/css/styleVendaLista.css" th:href="@{/css/styleVendaLista.css}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
</head>

<body>
<section layout:fragment="conteudo">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display" th:text="${breadcrumb}">Venda / Listar</h2>
                    </div>

                    <div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(msgSuccess)}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span th:text="${msgSuccess}"></span>
                    </div>

                    <div class="card-block">
                        <h1 class="h6 display">
                            <label>Legenda</label>
                            <span style="background: #FF7E7D" data-toggle="tooltip" data-placement="top" title="Compra já passou da data de pagamento">Vencido</span>
                            <span style="background: #FFF69E " data-toggle="tooltip" data-placement="top" title="Compra está se vencendo hoje">Vencimento</span>
                            <span style="background: #9BFF95" data-toggle="tooltip" data-placement="top" title="Compra já paga">Pago</span>
                            <span style="background: #E8DCD3" data-toggle="tooltip" data-placement="top" title="Compra está em dias">Em aberto</span>
                        </h1>

                        <table id="tabular" class="table table-hover table-sm">
                            <thead class="thead-inverse">
                            <tr>
                                <th style="width: 25%">Nome</th>
                                <th style="width: 20%">Produtos</th>
                                <th style="width: 10%">Data Emissão</th>
                                <th style="width: 10%">Data Vencimento</th>
                                <th style="width: 10%">Data Recebimento</th>
                                <th style="width: 10%">Valor Venda</th>
                                <th style="width: 10%">Valor Recebido</th>
                                <th style="width: 5%">Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                            <e th:each="venda : ${vendas}">
                                <tr th:class="${comparator.validePag(venda.valorRecebido) ? 'pago' : comparator.valideDate(venda.dataVencimento)}">
                                    <td name="nome" class="quebra-linha" th:text="${venda.cliente.nome}"></td>
                                    <td class="quebra-linha" th:text="${venda.listProdutos()} != '' ? ${venda.listProdutos()} : ${venda.historico}">Produtos</td>
                                    <td name="dataEmissao" th:text="${#dates.format(venda.dataEmissao, 'dd/MM/yyyy')}">20/03/2017</td>
                                    <td name="dataVencimento" th:text="${#dates.format(venda.dataVencimento, 'dd/MM/yyyy')}">20/04/2017</td>
                                    <td name="dataRecebimento" th:text="${venda.dataRecebimento} != null ? ${#dates.format(venda.dataRecebimento, 'dd/MM/yyyy')} :'----'">25/03/2017</td>
                                    <td name="total" th:text="|R$${{venda.valorTotal}}|">R$ 100.000,00</td>
                                    <td th:text="${venda.valorRecebido} != null ? |R$${{venda.valorRecebido}}| : '-----'">R$ 100.000,00</td>
                                    <td>
                                        <a class="pagamento-venda" th:data-id="${venda.id}" href="#" data-toggle="tooltip" data-placement="top" title="Pagar">
                                            <i class="fa fa-money fa-lg" aria-hidden="true"></i></a>
                                        <a class="visualizar" href="#" th:data-idvenda="${venda.id}" th:data-dataemissao="${venda.dataEmissao}" th:data-datavencimento="${venda.dataVencimento}"
                                           th:data-datarecebimento="${#dates.format(venda.dataRecebimento,'dd/MM/yyyy')}" data-toggle="tooltip" data-placement="top" title="Visualizar Compra" style="padding-left: 10px">
                                            <i class="fa fa-id-badge fa-lg" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                <tr th:each="resto : ${venda.vendaRestante}" th:class="${comparator.validePag(resto.valorRecebido) ? 'pago' : comparator.valideDate(resto.dataVencimento)}">
                                    <td name="nome" class="quebra-linha" th:text="${venda.cliente.nome}"></td>
                                    <td class="quebra-linha" th:text="${venda.listProdutos()}">Produtos</td>
                                    <td name="dataEmissao" th:text="${#dates.format(resto.dataEmissao, 'dd/MM/yyyy')}">20/03/2017</td>
                                    <td name="dataVencimento" th:text="${#dates.format(resto.dataVencimento, 'dd/MM/yyyy')}">20/04/2017</td>
                                    <td name="dataRecebimento" th:text="${resto.dataRecebimento} != null ? ${#dates.format(resto.dataRecebimento, 'dd/MM/yyyy')} :'----'">25/03/2017</td>
                                    <td name="total" th:text="|R$${{resto.valorTotal}}|">R$ 100.000,00</td>
                                    <td th:text="${resto.valorRecebido} != null ? |R$${{resto.valorRecebido}}| : '-----'">R$ 100.000,00</td>
                                    <td>
                                        <a class="pagamento-resto" th:data-idvenda="${venda.id}" th:data-idresto="${resto.id}" href="#" data-toggle="tooltip" data-placement="top" title="Pagar">
                                            <i class="fa fa-money fa-lg" aria-hidden="true"></i></a>
                                        <a class="visualizar resto" href="#" th:data-idvenda="${venda.id}" th:data-idresto="${resto.id}" th:data-dataemissao="${resto.dataEmissao}" th:data-datavencimento="${resto.dataVencimento}"
                                           th:data-datarecebimento="${#dates.format(resto.dataRecebimento,'dd/MM/yyyy')}" data-toggle="tooltip" data-placement="top" title="Visualizar Compra" style="padding-left: 10px">
                                            <i class="fa fa-id-badge fa-lg" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            </e>
                            <tr th:if="${vendas.empty}">
                                <td colspan="8">Nenhuma venda encontrada!</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

    <!-- MODAL PAGAR-->
    <div id="modalPagar" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pagamento</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <form id="pagamento" th:action="@{pagamento}" method="POST">
                    <div class="modal-body">
                        <p>Pagamento do Cliente: <strong></strong></p>
                        <input type="hidden" name="vendaId"/>
                        <input type="hidden" name="restoId"/>
                        <div class="form-group row">
                            <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-2">Valor</label>
                            <div class="col-sm-7 col-md-4 col-lg-3 col-xl-10">
                                <div class="input-group">
                                    <div class="input-group-addon">R$</div>
                                    <input name="valor" type="text" placeholder="Valor da parcela" class="form-control valor" required>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group row">
                            <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-2">Pagamento</label>
                            <div class="col-sm-7 col-md-4 col-lg-3 col-xl-10">
                                <select class="form-control" th:field="*{formaPagamento}">
                                    <option th:each="pagamento : ${formaPagamento}" th:value="${pagamento}" th:text="${pagamento.nome}">Cartão de Crédito</option>
                                </select>
                            </div>
                        </div>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Pagar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- MODAL VISUALIZAR-->
    <div id="modalVisualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Visualizar Venda</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <ul class="list-group">
                            <li name="vendaId" style="display: none;"></li>
                            <li name="restoId" style="display: none;"></li>
                            <li name="tr" style="display: none;"></li>
                            <li name="valorTotal" class="list-group-item">Venda Total</li>
                            <li name="dataEmissao" class="list-group-item">Data Emissão </li>
                            <li name="dataVencimento" class="list-group-item">Data Vencimento </li>
                            <li name="dataRecebimento" class="list-group-item">Data Recebimento </li>
                            <li name="funcionario" class="list-group-item">Funcionário: </li>
                        </ul>
                    </div>
                    <br>

                    <div id="tablelist" role="tablist" aria-multiselectable="true">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Fechar</button>
                    <button type="button" data-toggle="modal" data-target="#modalRemover" class="btn btn-danger">Remover venda</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal REMOVER-->
    <div id="modalRemover" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="remover" method="POST">
                    <input type="hidden" name="vendaId"/>
                    <input type="hidden" name="restoId"/>
                    <div class="modal-header">
                        <h5 class="modal-title">Cuidado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Você tem certeza que deseja remover essa venda ? Não é possivel reverter após confirmar
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Remover</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

<th:block layout:fragment="javascript-extra">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script th:inline="javascript">
        $(document).ready(function () {

            $("form#remover").submit(function (event) {
                event.preventDefault();
                var tr = $("#modalVisualizar").find("li[name='tr']").text();
                $("tr").get(parseInt(tr)+1).remove()
                var venda = $("#modalRemover").find("input[name='vendaId']").val();
                var resto = $("#modalRemover").find("input[name='restoId']").val();
                $.ajax({
                    method: "POST",
                    url: "remover",
                    data: {vendaId: venda, restoId : resto},
                    success : function(data) {
                        $(".card-block").prepend("" +
                            "<div class='alert alert-success' role='alert'>\n" +
                            "  <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" +
                                data+
                            "</div>");
                    },
                    error : function(e) {
                        $(".card-block").prepend("" +
                            "<div class='alert alert-danger' role='alert'>\n" +
                            "  <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" +
                            e+
                            "</div>");
                    },
                });
                $("#modalRemover").modal('hide');
                $("#modalVisualizar").modal('hide');
            });

            $("#modalRemover").on('shown.bs.modal', function () {
                var vendaId = $("#modalVisualizar").find("li[name='vendaId']").text();
                var restoId = $("#modalVisualizar").find("li[name='restoId']").text();
                $("#modalRemover").find("input[name='vendaId']").attr('value', vendaId);
                $("#modalRemover").find("input[name='restoId']").attr('value', restoId);
            });

            $("a.pagamento-venda").click(function () {
                var nome = $(this).parent().parent().find("td").get(0).innerHTML;
                $("#modalPagar").find("p > strong").text(nome);
                $("#modalPagar").find("input[name='vendaId']").attr('value', $(this).data("id"));
                $("#modalPagar").modal('show');
            });

            $("a.pagamento-resto").click(function () {
                var nome = $(this).parent().parent().find("td").get(0).innerHTML;
                $("#modalPagar").find("p > strong").text(nome);
                $("#modalPagar").find("input[name='vendaId']").attr('value', $(this).data("idvenda"));
                $("#modalPagar").find("input[name='restoId']").attr('value', $(this).data("idresto"));
                $("#modalPagar").modal('show');
            });

            $("a.visualizar").click(function () {
                var tr = $(this).parent().parent();
                var restoId = $(this).data("idresto");
                console.log(restoId)
                $.ajax({
                    method: "POST",
                    url: "buscarVendas",
                    data: {vendaId: $(this).data("idvenda")},
                    success : function(data) {
                        $("#modalVisualizar").find("li[name='valorTotal']").html("Venda Total: R$ "+tr.find("td[name='total']").text()+" em "+data.parcelamento+"x");
                        $("#modalVisualizar").find("li[name='dataEmissao']").html("Data Emissão: " +tr.find("td[name='dataEmissao']").text() );
                        $("#modalVisualizar").find("li[name='dataVencimento']").html("Data Vencimento: " + tr.find("td[name='dataVencimento']").text());
                        $("#modalVisualizar").find("li[name='dataRecebimento']").html("Data Recebimento: " + tr.find("td[name='dataRecebimento']").text());
                        $("#modalVisualizar").find("li[name='funcionario']").html("Funcionário: "+ data.funcionario.nome);
                        $("#modalVisualizar").find("li[name='vendaId']").html(data.id);
                        $("#modalVisualizar").find("li[name='restoId']").html(restoId);
                        $("#modalVisualizar").find("li[name='tr']").html(tr.index());

                        console.log("Resto: "+restoId);
                        for(var i in data.vendaProdutos){
                            var total = (data.vendaProdutos[i].produto.valor * data.vendaProdutos[i].quantidade) - data.vendaProdutos[i].valorDesconto;
                            $("#modalVisualizar").find("#tablelist").append("" +
                                "<div class='card'>\n" +
                                "        <div class='card-header' role='tab' id='heading"+i+"'>\n" +

                                "       <div class='row justify-content-between'>"+
                                "       <div class='col-6 align-self-center'>"+
                                "            <h5 class='mb-0'>\n" +
                                "                <a data-toggle='collapse' data-parent='#accordion' href='#collapse"+i+"' aria-expanded='true' aria-controls='collapse"+i+"'>\n" +
                                            data.vendaProdutos[i].produto.nome +
                                "                </a>\n" +
                                "            </h5>\n" +
                                "       </div>"+
                                "       <div class='col-1 align-self-center'>"+
                                "           <a href='#'><i data-toggle='tooltip' data-placement='top' title='Remover' class='fa fa-trash' aria-hidden='true'></i></a></div>\n" +
                                "       </div>"+
                                "       </div>\n" +
                                "        <div id='collapse"+i+"' class='collapse' role='tabpanel' aria-labelledby='heading"+i+"'>\n" +
                                "            <div class='card-block'>\n" +
                                "                <table class='table'>\n" +
                                "                    <thead>\n" +
                                "                    <tr>\n" +
                                "                        <th>Valor</th>\n" +
                                "                        <th>Desconto</th>\n" +
                                "                        <th>Quantidade</th>\n" +
                                "                        <th>Totoal</th>\n" +
                                "                    </tr>\n" +
                                "                    </thead>\n" +
                                "                    <tbody>\n" +
                                "                    <tr>\n" +
                                "                        <td scope='row'>"+data.vendaProdutos[i].produto.valor.toFixed(2)+"</td>\n" +
                                "                        <td>"+data.vendaProdutos[i].valorDesconto.toFixed(2)+"</td>\n" +
                                "                        <td>"+data.vendaProdutos[i].quantidade+"</td>\n" +
                                "                        <td>"+total.toFixed(2)+"</td>\n" +
                                "                    </tr>\n" +
                                "                    </tbody>\n" +
                                "                </table>\n" +
                                "            </div>\n" +
                                "        </div>\n" +
                                "    </div>");
                        }
                        $('[data-toggle="tooltip"]').tooltip();
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    },
                });
                var nome = $(this).parent().parent().find("td").get(0).innerHTML;
                $("#modalVisualizar").find("p > strong").text(nome);
                $("#modalVisualizar").modal('show');
            });

            $('#modalVisualizar').on('hidden.bs.modal', function () {
                console.log($(this).find("#tablelist").children().remove());
            });
        })

    </script>

    <script th:inline="javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#tabular').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Portuguese-Brasil.json"
                }
            });

            $("#navVenda").children().attr("aria-expanded", true);
            $("#navVenda").children("ul").addClass("show");

            if([[${breadcrumb}]].localeCompare("Venda / Buscar") == 0){
                $("#navVenda").children("ul").children("li").get(1).className= "active";
            }else $("#navVenda").children("ul").children("li").get(2).className= "active";

            $('.valor').mask('000.000,00', {reverse: true});
        });
    </script>
</th:block>
</body>
</html>