<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{lojaFisica/header}">
<head>
    <title>Venda Criar - Célia Magazine</title>
    <!-- SELECT SEARCH -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
</head>

<body>
<section layout:fragment="conteudo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h2 class="h5 display display" th:text="${breadcrumb}">Venda</h2>
                    </div>
                    <div class="card-block">
                        <form class="form-horizontal" method="POST" th:object="${venda}" th:action="@{novo}">
                            <!-- ERROS -->
                            <div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <th:block th:each="error : ${#fields.detailedErrors()}">
                                    <div>
                                        <i class="fa  fa-exclamation-circle"></i>
                                        <span th:text="${error.message}"></span>
                                    </div>
                                </th:block>
                            </div>

                            <div class="form-group row">
                                <label class="form-control-label col-sm-2 col-md-1 col-lg-1 col-xl-1">Cliente</label>
                                <div class="col-sm-10 col-md-5 col-lg-5 col-xl-5">
                                    <select class="js-example-basic-single js-states" th:field="*{cliente.nome}" required>
                                        <option value="" selected>Selecione um cliente</option>
                                        <option th:each="cliente : ${clientes}" th:value="${cliente.nome}" th:text="${cliente.nome}">Wyoming ssssssssssss</option>
                                    </select>
                                </div>
                                <label class="form-control-label col-sm-2 col-md-1 col-lg-1 col-xl-1">Funcionário</label>
                                <div class="col-sm-10 col-md-5 col-lg-5 col-xl-5">
                                    <select class="js-example-basic-single js-states" th:field="*{funcionario.nome}">
                                        <option value="">Selecione um funcionário</option>
                                        <option th:each="funcionario : ${funcionarios}" th:value="${funcionario.nome}" th:text="${funcionario.nome}">Wyoming ssssssssssss</option>
                                    </select>
                                </div>
                            </div>

                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="form-control-label col-sm-2 col-md-2 col-lg-1 col-xl-1">Parcelas</label>
                                <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2">
                                    <div class="input-group">
                                        <div class="input-group-addon">Nº P</div>
                                        <input type="text" th:field="*{parcelamento}" value="1" min="1" max="12" class="form-control parcela" id="parcela" placeholder="Parcelamento em N vezes" required>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>

                            <!-- PRODUTOS -->
                            <div id="produtos" class="card-footer text-muted">
                                <h1 class="h3 display">Produtos</h1>

                            </div>
                            <br>
                            <div class="form-group row">
                                <button data-toggle="modal" data-target="#modalAddProd" type="button" class="btn btn-primary centro-input">
                                    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                    Novo Produto
                                </button>
                            </div>
                            <!-- END PRODUTOS -->

                            <div class="card" style="background-color: #f7f7f9">
                                <div class="card-block align-self-center">
                                    Valor Total R$ <span id="valorFinal" class="valor">0</span>
                                    |   Parcelado em <span id="parcelaFinal">1</span>x R$ <span id="valorParcela" class="valor">0</span>
                                </div>
                            </div>

                            <div class="align-self-center" style="padding-top: 15px">
                                <button type="submit" class="btn btn-info centro-input">Finalizar venda</button>
                            </div>
                        </form>

                        <!-- Modal Add produto-->
                        <div class="modal fade" id="modalAddProd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Adicionar produto</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
                                                    <select class="js-example-basic-single js-states" id="mySelect2" required>
                                                        <option th:each="produto : ${produtos}" th:value="${produto.nome}" th:text="${produto.nome}"
                                                                th:data-valor="${produto.valor}">Wyoming ss</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Valor R$</div>
                                                        <input name="valorUnid" type="text" class="form-control valor" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Unid.</div>
                                                        <input name="unidade" onkeyup="calcularValorTotalModal(this)" value="1" type="text" placeholder="Quantidade"
                                                               class="form-control unidade">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Desc.</div>
                                                        <input name="valorDesconto" onkeyup="calcularValorTotalModal(this)" value="0" type="text" placeholder="R$"
                                                               class="form-control valor">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">Total</div>
                                                        <input name="valorTotalV" type="text" class="form-control valor" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button id="addProduto" type="button" class="btn btn-primary">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="javascript-extra">
    <script src="../../../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>

    <script th:inline="javascript">
        function calcularValorTotalFinal() {
            var inputTotal = $("#produtos").find("input[name='valorTotalV']");
            var total = 0;
            inputTotal.each(function () {
                total = parseFloat(total*1) + parseFloat($(this).val()*1);
                console.log(total.toFixed(2));
            })
            $("#valorFinal").text(total.toFixed(2));
            console.log("Valor parcela " + $("#parcelaFinal").text());
            var parcela = $("#parcelaFinal").text();
            if(Number.isNaN(parseFloat(parcela)))
                parcela = 1;
            var valorParcela = parseFloat(total) / parseFloat(parcela);
            $("#valorParcela").text(parseFloat(valorParcela.toFixed(2)));
        }

        function calcularValorTotal(raiz) {
            var valorUnid = $(raiz).find("input[name='valorUnid']").val();
            var unidade = $(raiz).find("input[name='unidade']").val();
            var valorDesconto = $(raiz).find("input[name='valorDesconto']").val();
            if (Number.isNaN(parseInt(valorDesconto)))
                valorDesconto = 0;
            var final = parseFloat(valorUnid * unidade) - parseFloat(valorDesconto);
            /*console.log("Final: parseFloat(valorUnid (" + valorUnid + ") * unidade (" + unidade + ") ) " +
                "(" + parseFloat(valorUnid * unidade) +
                ") - parseFloat(valorDesconto) (" + parseFloat(valorDesconto) + ")");*/
            $(raiz).find("input[name='valorTotalV']").val(final.toFixed(2));
        }

        function calcularValorTotalBody(event) {
            var raiz = $(event).parent().parent().parent();
            calcularValorTotal(raiz);
            calcularValorTotalFinal();
        }

        function calcularValorTotalModal(event) {
            var raiz = $(event).parent().parent().parent().parent();
            calcularValorTotal(raiz);
        }

       /* function edit(event) {
            var row = $(event).parent().parent().parent().parent();
            console.log(row);
            var modal = $("#modalAddProd");
            modal.find("#mySelect2 option[value='"+$(row).find("input[name='valorUnid']").val()+"']").prop('selected', true);
            modal.find("input[name='valorUnid']").val($(row).find("input[name='valorUnid']").val());
            modal.find("input[name='unidade']").val($(row).find("input[name='unidade']").val());
            modal.find("input[name='valorDesconto']").val($(row).find("input[name='valorDesconto']").val());
            modal.find("input[name='valorTotalV']").val($(row).find("input[name='valorTotalV']").val());
            $('.js-example-basic-single').select2({width: "100%", dropdownParent: $('#modalAddProd')});
            modal.modal("show");
        }*/

        function remover(event) {
            $('[data-toggle="tooltip"]').tooltip('hide');
            $(event).parent().parent().parent().parent().remove();
        }
        
        $(document).ready(function () {
            $("#modalAddProd").on('shown.bs.modal', function () {
                var valor = $(this).find('option:selected').data("valor");
                $("#modalAddProd").find("input[name='valorUnid']").val(valor);
                calcularValorTotalModal($(this).find(".modal-body"));
                var option = $('#mySelect2 option').get(0).innerHTML;
                console.log(option);
                console.log($("#mySelect2 option[name='"+option+"']"));
                $("#mySelect2 option[name='"+option+"']").prop('selected',true);
                $('#mySelect2').select2({width: "100%", placeholder: 'Selecione ...', dropdownParent: $('#modalAddProd')});
            })

            $("#parcela").keyup(function () {
                $("#parcelaFinal").text($(this).val());
                if(parseFloat($("#valorFinal").text()) !=0){
                    calcularValorTotalFinal();
                }
            })

            $("#mySelect2").change(function () {
                var valor = $(this).find('option:selected').data("valor");
                $("#modalAddProd").find("input[name='valorUnid']").val(valor);
                calcularValorTotalModal(this);
            })

            $("#addProduto").click(function () {
                var inputSelect = $("#modalAddProd").find("#mySelect2").find('option:selected');
                var valorUnid = $("#modalAddProd").find("input[name='valorUnid']").val();
                var inputUnid = $("#modalAddProd").find("input[name='unidade']");
                var inputDesc = $("#modalAddProd").find("input[name='valorDesconto']");
                var valorTotalV = $("#modalAddProd").find("input[name='valorTotalV']").val();

                if (inputUnid.val().localeCompare("") == 0) {
                    inputUnid.parent().parent().addClass('has-danger');
                    inputUnid.addClass("form-control-danger");
                } else {
                    inputUnid.parent().parent().removeClass('has-danger');
                    inputUnid.removeClass("form-control-danger");
                }

                if (inputDesc.val().localeCompare("") == 0) {
                    inputDesc.parent().parent().addClass('has-danger');
                    inputDesc.addClass("form-control-danger");
                } else {
                    inputDesc.parent().parent().removeClass('has-danger');
                    inputDesc.removeClass("form-control-danger");
                }

                if (inputDesc.val().localeCompare("") != 0 && inputUnid.val().localeCompare("") != 0) {
                    var divProduto = $("<div class='form-group row'>").append(
                        $("<div class='col-sm-8 col-md-8 col-lg-3 col-xl-4'>").append(
                            "            <div class='input-group'>\n" +
                            "                <div class='input-group-addon'>\n" +
                            "                    <a onclick='remover(this)' href='#'>\n" +
                            "                        <i data-toggle='tooltip' data-placement='top' title='Remover' class='fa fa-trash' aria-hidden='true'></i>\n" +
                            "                    </a>\n" +
                            "                </div>\n" +
                            "                <input name='nome' value='"+inputSelect.text()+"' type='text' class='form-control' readonly>\n" +
                            "            </div>"))
                        .append($("<div class='col-sm-4 col-md-4 col-lg-2 col-xl-2'>").append(
                            "            <div class='input-group'>\n" +
                            "                <div class='input-group-addon'>R$</div>\n" +
                            "                <input name='valorUnid' type='text' value='" + valorUnid + "' class='form-control valor' readonly>\n" +
                            "            </div>"))
                        .append($("<div class='col-sm-4 col-md-4 col-lg-2 col-xl-2'>").append($("<div class='input-group'>\n" +
                            "            <div class='input-group-addon'>Unid.</div>\n" +
                            "            <input name='unidade' onkeyup='calcularValorTotalBody(this)' type='text' value='" + inputUnid.val() + "' placeholder='Quantidade' class='form-control unidade' min='1' required>\n" +
                            "        </div>")))
                        .append($("<div class='col-sm-4 col-md-4 col-lg-3 col-xl-2'>").append(
                            "<div class='input-group'>\n" +
                            "            <div class='input-group-addon'>Desc.</div>\n" +
                            "            <input name='valorDesconto' onkeyup='calcularValorTotalBody(this)' type='text' value='" + inputDesc.val() + "' placeholder='R$' class='form-control valor' required>\n" +
                            "        </div>"))
                        .append($("<div class='col-sm-4 col-md-4 col-lg-2 col-xl-2'>").append(
                            "            <div class='input-group'>\n" +
                            "                <div class='input-group-addon'>R$</div>\n" +
                            "                <input name='valorTotalV' type='text' value='" + valorTotalV + "' class='form-control valor' readonly>\n" +
                            "            </div>"));
                    $("#produtos").append(divProduto);
                    $('[data-toggle="tooltip"]').tooltip();
                    calcularValorTotalFinal()
                    $('#modalAddProd').modal('hide');
                }
            });

        });

    </script>

    <script>
        $(document).ready(function () {
            $("form").submit(function (event) {
                if($("#produtos").find("input").length ==0){
                    event.preventDefault();
                    $("form").parent().prepend("<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                        "  <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                        "    <span aria-hidden=\"true\">&times;</span>\n" +
                        "  </button>\n" +
                        "  <strong>Erro!</strong> Para a venda ser realizada, deve conter no mínimo 1 produto.\n" +
                        "</div>");
                }
            })
            /**/
            $('[data-toggle="tooltip"]').tooltip();

            $('.js-example-basic-single').select2({width: "100%", placeholder: 'Selecione ...'});

            $('#modalAddProd').on('hidden.bs.modal', function () {
                $(this).find("input").val('').end();
                $('#mySelect2').select2({width: "100%", placeholder: 'Selecione ...'});
                $(this).find("input[name='unidade']").val(1).end();
                $(this).find("input[name='valorDesconto']").val(0);
                var inputUnid = $("#modalAddProd").find("input[name='unidade']").parent().parent();
                inputUnid.removeClass('has-danger');
                inputUnid.find("input[name='unidade']").removeClass("form-control-danger");
                var inputDesc = $("#modalAddProd").find("input[name='valorDesconto']").parent().parent();
                inputDesc.removeClass('has-danger');
                inputDesc.find("input[name='valorDesconto']").removeClass("form-control-danger");
            });

            $("#parcela").val(1);

            $("#navVenda").children().attr("aria-expanded", true);
            $("#navVenda").children("ul").addClass("show");
            if ('[[${breadcrumb}]]'.localeCompare("Venda / Buscar") == 0) {
                $("#navVenda").children("ul").children("li").get(1).className = "active";
            } else $("#navVenda").children("ul").children("li").get(0).className = "active";

            $('.valor').mask('000.000,00', {reverse: true});
            $('.parcela').mask('00', {reverse: true});
            $('.unidade').mask('000.000', {reverse: true});
            $('.date').mask('00/00/0000', {placeholder: "__/__/____"});
            $('.cep').mask('00000-000', {placeholder: "xxxxx-xx", reverse: true});
            $('.phone_with_ddd').mask('(00) 0000-0000', {placeholder: "(DDD) xxxx-xxxx"});
            $('.cpf').mask('000.000.000-00', {placeholder: "xxx.xxx.xxx-xx", reverse: true});
            $('.rg').mask('00.000.000-0', {placeholder: "xx.xxx.xxx-x", reverse: true});
        });
    </script>
</th:block>

</body>

</html>