<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{lojaFisica/header}">
<head>
    <title>Fornecedor - Célia Magazine</title>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h5 display display" th:text="${breadcrumb}">Fornecedor / Criar</h2>
                </div>
                <div class="card-group">
                    <div class="card align-items-center">
                        <img class="card-img-top img-thumbnail centro" src="../../../static/img/avatar-1.jpg" th:src="@{/img/avatar-1.jpg}" alt="Upload"/>
                        <input type="file" name="" id=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <form id="formulario" class="form-horizontal" method="POST" th:object="${fornecedor}" th:action="@{novo}">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:field="*{endereco.id}"/>
                            <!-- ERROS -->
                            <div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <th:block th:each="error : ${#fields.detailedErrors()}">
                                    <div>
                                        <i class="fa  fa-exclamation-circle"></i>
                                        <span th:text="${error.message}"></span>
                                    </div>
                                </th:block>
                            </div>

                            <div class="line"></div>
                            <div class="form-group row">
                                <h3><span>Dados</span></h3>
                            </div>

                            <div class="form-group row">
                                <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Razão Social</label>
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                    <input type="text" placeholder="Nome completo" class="form-control" th:field="*{razaoSocial}" required/>
                                </div>
                                <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Email</label>
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                    <input type="email" placeholder="Email" class="form-control" th:field="*{email}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">IE</label>
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-2">
                                    <input type="text" placeholder="Inscrição Estadual" class="form-control" th:field="*{inscricaoEstadual}"/>
                                </div>
                                <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">CNPJ</label>
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-2">
                                    <input type="text" placeholder="CNJP" class="form-control cnpj" th:field="*{cnpj}" required/>
                                </div>
                                <label class="fform-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Celular</label>
                                <div class="col-sm-5 col-md-5 col-lg-2 col-xl-2 ">
                                    <input type="text" class="form-control phone_with_ddd" th:field="*{celular}"/>
                                </div>
                                <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Telefone</label>
                                <div class="col-sm-5 col-md-5 col-lg-2 col-xl-2">
                                    <input type="text" class="form-control phone_with_ddd" th:field="*{telefone}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Contato</label>
                                <div class="col-sm-11 col-md-11 col-lg-5 col-xl-5">
                                    <input type="text" placeholder="Info do contato" class="form-control" th:field="*{contato}"/>
                                </div>
                            </div>

                            <div class="line"></div>
                            <div class="form-group row">
                                <h3><span>Endereço</span></h3>
                            </div>

                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">CEP</label>
                                <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2">
                                    <input type="text" class="form-control cep" th:field="*{endereco.cep}" required/>
                                </div>
                                <label class="form-control-label col-sm-1 col-md-1 col-lg-2 col-xl-1">Complemento</label>
                                <div class="col-sm-7 col-md-7 col-lg-7 col-xl-2">
                                    <input type="text" placeholder="Ex: Ap, Casa, Bloco" class="form-control" th:field="*{endereco.complemento}"/>
                                </div>

                                <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Rua</label>
                                <div class="col-sm-11 col-md-11 col-lg-11 col-xl-5">
                                    <input type="text" placeholder="Rua" class="form-control" th:field="*{endereco.logradouro}" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Cidade</label>
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                    <input type="text" placeholder="Cidade" class="form-control" th:field="*{endereco.cidade}" required/>
                                </div>
                                <label class="form-control-label col-sm-1 col-md-1 col-lg-1 col-xl-1">Bairro</label>
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-2">
                                    <input type="text" placeholder="Bairro" class="form-control" th:field="*{endereco.bairro}" required/>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 col-xl-1">
                                    <select name="" class="form-control" th:field="*{endereco.estado}" required>
                                        <option value="" selected>Estado</option>
                                        <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado.nome}"></option>
                                    </select>
                                </div>
                                <label class="form-control-label col-sm-2 col-md-1 col-lg-1 col-xl-1">Número</label>
                                <div class="col-sm-4 col-md-5 col-lg-2 col-xl-1">
                                    <input type="number" placeholder="Número" min="0" class="form-control" th:field="*{endereco.numero}" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="form-control-label col-sm-2 col-md-2 col-lg-2 col-xl-1">Observação</label>
                                <div class="col-sm-10 col-md-10 col-lg-10 col-xl-5">
                                    <textarea class="form-control" placeholder="Notas ou lembretes" rows="5" th:field="*{observacao}"></textarea>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <button type="submit" class="btn btn-primary centro-input">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<th:block layout:fragment="javascript-extra">
    <script src="../../../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            $("#navFornecedor").children().attr("aria-expanded", true);
            $("#navFornecedor").children("ul").addClass("show");
            if ([[${breadcrumb}]].localeCompare("Fornecedor / Buscar") == 0) {
                $("#navFornecedor").children("ul").children("li").get(1).className = "active";
            } else $("#navFornecedor").children("ul").children("li").get(0).className = "active";

            $('.date').mask('00/00/0000', {placeholder: "__/__/____"});
            $('.cep').mask('00000-000', {placeholder: "xxxxx-xx", reverse: true});
            $('.phone_with_ddd').mask('(00) 0000-0000', {placeholder: "(DDD) xxxx-xxxx"});
            $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
            $('.rg').mask('00.000.000-0', {placeholder: "xx.xxx.xxx-x", reverse: true});
        });
    </script>
</th:block>
</body>

</html>