/* your styles go here */
::-webkit-input-placeholder { 
    color: #fff;
}
::-moz-placeholder { 
    color: #fff;
}

.search-focus {
    background: url(../img/search.png) no-repeat left;
    border: 1px solid #ccc;
    color: #f96332;    
    outline: none;
    background-size: 17px;
    background-position: 11px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 20px;
    transition: all .5s;
}
.search-focus:focus{
    width: 300px;
    padding-left: 50px;
}

.search-click {
    position: relative;
    overflow: hidden;
    height: 50px;
}  
.search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
}

.bg-navcolor {
    background-color: #2c2c2c !important;
}

.material-icons.md-p{
    font-size: 18px;
    position: relative;
    top: 3px;
    text-align: center;
    width: 21px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #f96332;
    border-radius: .25rem;
}



.tooltip.bs-tether-element-attached .tooltip-inner::before {
    border-top-color: #f96332;
}

.tooltip.bs-tether-element-attached-top .tooltip-inner::before {
    border-bottom-color: #f96332;
}

.tooltip.bs-tether-element-attached-left .tooltip-inner::before {
    border-right-color: #f96332;
}

.tooltip.bs-tether-element-attached-right .tooltip-inner::before {
    border-left-color: #f96332;
}

.dice-menu {
    padding: 0;
    display: block;
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 999;

}

.dice-menu li {
    display: block;
    border-width: 0;
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
    background-color: #444;
    color: #eee;
    opacity: 0;
    cursor: pointer
}

.dice-menu li:first-child { opacity: .8 }