.centro{
    height: 300px;
    width:215px;
    background-position: center
}

.selection{
    display: inline;
}

.centro-input{
    left: 50%;
    margin-left: -100px; /* A metade de sua largura. */
    position: relative;
    width: 200px; /* O valor que você desejar. */
}