.quebra-linha {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th,td {
    text-align: center;
}

.vencido{
    background: #FF7E7D !important;
}

.vencimento{
    background: #FFF69E !important;
}

.pago{
    background: #9BFF95 !important;
}

.aberto{
    background: #E8DCD3 !important;
}

