<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <p>Por o projeto está em desenvolvimento algumas telas estão apenas como prototipos e sem qualquer interação.</p>
    <p>Então abaixo os links para visualizar todas as telas</p>
    <h4>Loja Virtual</h4>
    <ul>
        <li><a href="lojaVirtual/home.html" th:href="@{/home}">Loja Virtual</a></li>
        <li><a href="lojaVirtual/carrinho.html" th:href="@{/carrinho}">Carrinho de Compra</a></li>
        <li><a href="lojaVirtual/lista.html" th:href="@{/produtos}">Lista de produtos</a></li>
        <li><a href="lojaVirtual/produto.html" th:href="@{/produto}">Produto</a></li>
        <li><a href="lojaVirtual/about.html" th:href="@{/sobre}">Sobre</a></li>
    </ul>
    <h4>Loja Fisica</h4>
    <ul>
        <li><a href="lojaFisica/indexDashboard.html" th:href="@{/dashboard}">Dashboard</a></li>
        <li><a href="lojaFisica/funcionario/index.html" th:href="@{/funcionario/novo}">Funcionário Novo</a></li>
        <li><a href="lojaFisica/funcionario/perfil.html" th:href="@{/funcionario/perfil}">Funcionário Perfil</a></li>
        <li><a href="lojaFisica/funcionario/listar.html" th:href="@{/funcionario/listar}">Funcionário Lista</a></li>
        <li><a href="lojaFisica/cliente/index.html" th:href="@{/cliente/novo}">Cliente Novo</a></li>
        <li><a href="lojaFisica/cliente/listar.html" th:href="@{/cliente/listar}">Cliente Listar</a></li>
        <li><a href="lojaFisica/fornecedor/index.html" th:href="@{/fornecedor/novo}">Fornecedor Novo</a></li>
        <li><a href="lojaFisica/fornecedor/listar.html" th:href="@{/fornecedor/listar}">Fornecedor Listar</a></li>
        <li><a href="lojaFisica/produto/index.html" th:href="@{/produto/novo}">Produto Novo</a></li>
        <li><a href="lojaFisica/produto/listar.html" th:href="@{/produto/listar}">Produto Listar</a></li>
        <li><a href="lojaFisica/venda/buscar.html" th:href="@{/venda/buscar}">Venda Buscar</a></li>
        <li><a href="lojaFisica/venda/novo.html" th:href="@{/venda/novo}">Venda Novo</a></li>
        <li><a href="lojaFisica/venda/listar.html" th:href="@{/venda/listar}">Venda Listar</a></li>
    </ul>
</body>
</html>